<template>
	<div>detail {{id}}</div>
</template>

<script>
	import {useRoute} from 'vue-router'
	export default {
		name: "detail_1",
		setup() {
			const route = useRoute();
			console.log(route.query.id)
			const id = route.query.id
			return {
				id
			}
		}
	}
</script>

<style scoped>

</style>