<template>
  <div class="blog flex flex-row">
    <div class="nav" v-if="!store.state.isMobile">
      <div class="nav-title text-center">
        <h1>Music Square</h1>
        <div>
          <h3>音乐广场</h3>
        </div>
      </div>
      <div class="mt60">
        <a-space :size="30">
          <div
            class="cell"
            v-for="item in singerList"
            :key="item"
            @click="chooseSinger(item.chooseLink)"
          >
            <a-avatar :src="getSingerImg(item.imgName)" :size="60" />
            <div
              :class="item.chooseLink === chooseLink ? 'active' : ''"
              class="cell-name text-center mt20"
            >
              {{ item.name }}
            </div>
          </div>
        </a-space>
      </div>
      <a-divider style="border-color: #17a2b8" dashed />

      <!--歌曲列表-->
      <a-list item-layout="horizontal" :data-source="songList">
        <template #renderItem="{ item }">
          <a-list-item>
            <a-list-item-meta :description="`《${item.title}》`">
              <template #title>
                <span
                  :class="item.name === chooseName ? 'active' : ''"
                  @click="chooseSong(item)"
                >
                  {{ item.name }}
                </span>
              </template>
              <template #avatar>
                <a-avatar :src="getSingerImg(item.singerImg)" />
              </template>
            </a-list-item-meta>
          </a-list-item>
        </template>
      </a-list>
    </div>

    <div class="content" id="musicId" ref="containerRef">
      <!--Jay-->
      <div id="Jay" v-if="chooseLink === 'Jay'">
        <div id="Jay_Kobe">
          <Jay_Kobe />
        </div>
      </div>

      <!--Vae-->
      <div id="Vae" v-if="chooseLink === 'Vae'">
        <div id="Vae_Science">
          <Vae_Science />
        </div>
      </div>

      <!--Eason-->
      <div v-if="chooseLink === 'Eason'">
        <Eason_Sorry />
      </div>
      <div v-if="chooseLink === 'Eason_QiuXie'">
        <Eason_QiuXie />
      </div>
      <div v-if="chooseLink === 'Eason_BuYaoShuoHua'">
        <Eason_BuYaoShuoHua />
      </div>

      <!--五月天-->
      <div v-if="chooseLink === 'Mayday_ChengMingZaiWang'">
        <Mayday_ChengMingZaiWang />
      </div>

      <div v-if="store.state.isMobile" class="flex justify-end">
        <a-affix
          :target="() => containerRef"
          :style="{ position: 'absolute', bottom: '30px' }"
          @click="showDrawer"
        >
          <div class="choose-button">M</div>
        </a-affix>
      </div>
    </div>

    <!--手机端选择歌曲弹窗-->
    <a-drawer
      placement="left"
      :closable="false"
      :visible="visible"
      @close="onClose"
      width="100vw"
    >
      <div class="nav" ref="navRef">
        <a-affix
          :target="() => navRef"
          :style="{ position: 'absolute', top: '0', right: '30px' }"
          @click="onClose"
        >
          <CloseCircleOutlined
            :style="{ fontSize: '26px', color: '#dc3545' }"
          />
        </a-affix>
        <div class="nav-title text-center">
          <h1>Music Square</h1>
          <div>
            <h3>音乐广场</h3>
          </div>
        </div>
        <div class="mt60 flex justify-around">
          <a-space :size="30">
            <div
              class="cell"
              v-for="item in singerList"
              :key="item"
              @click="chooseSinger(item.chooseLink)"
            >
              <a-avatar :src="getSingerImg(item.imgName)" :size="60" />
              <div
                :class="item.chooseLink === chooseLink ? 'active' : ''"
                class="cell-name text-center mt20"
              >
                {{ item.name }}
              </div>
            </div>
          </a-space>
        </div>
        <a-divider style="border-color: #17a2b8" dashed />

        <!--歌曲列表-->
        <a-list item-layout="horizontal" :data-source="songList">
          <template #renderItem="{ item }">
            <a-list-item>
              <a-list-item-meta :description="`《${item.title}》`">
                <template #title>
                  <span
                    :class="item.name === chooseName ? 'active' : ''"
                    @click="chooseSong(item)"
                  >
                    {{ item.name }}
                  </span>
                </template>
                <template #avatar>
                  <a-avatar :src="getSingerImg(item.singerImg)" />
                </template>
              </a-list-item-meta>
            </a-list-item>
          </template>
        </a-list>
      </div>
    </a-drawer>
  </div>
</template>

<script>
import { ref, reactive, onMounted } from 'vue';
import { useStore } from 'vuex';
import { getSingerImg, getSongList } from '../../utils/music/music.js';
import Jay_Kobe from './Jay/Jay_Kobe.vue';
import Eason_Sorry from './Eason/Eason_Sorry.vue';
import Eason_QiuXie from './Eason/Eason_QiuXie.vue';
import Eason_BuYaoShuoHua from './Eason/Eason_BuYaoShuoHua.vue';
import Vae_Science from './Vae/Vae_Science.vue';
import Mayday_ChengMingZaiWang from './Mayday/Mayday_ChengMingZaiWang.vue';
const singerList = [
  {
    name: 'Jay',
    chooseLink: 'Jay',
    imgName: 'Jay',
  },
  {
    name: 'Vae',
    chooseLink: 'Vae',
    imgName: 'Vae',
  },
  {
    name: 'Eason',
    chooseLink: 'Eason',
    imgName: 'Eason',
  },
  {
    name: 'Mayday',
    chooseLink: 'Mayday',
    imgName: 'Mayday',
  },
];
export default {
  components: {
    Jay_Kobe,
    Eason_Sorry,
    Eason_QiuXie,
    Eason_BuYaoShuoHua,
    Vae_Science,
    Mayday_ChengMingZaiWang,
  },
  setup() {
    const store = useStore();
    onMounted(() => {
      chooseSinger('Jay');
    });
    const chooseLink = ref('Jay');
    const chooseName = ref('天地一斗');
    let songList = reactive([]);
    const chooseSinger = (name) => {
      // Vue3.0清空响应式数组
      songList.splice(0, songList.length);
      songList.push(...getSongList(name));
    };
    const chooseSong = (item) => {
      chooseLink.value = item.chooseLink;
      chooseName.value = item.name;
      visible.value = false;
    };
    // 手机展示歌曲列表
    const containerRef = ref();
    const navRef = ref();
    const visible = ref(false);
    const showDrawer = () => {
      visible.value = true;
    };
    const onClose = () => {
      visible.value = false;
    };
    return {
      store,
      chooseLink,
      chooseName,
      chooseSinger,
      chooseSong,
      getSingerImg,
      singerList,
      songList,
      containerRef,
      navRef,
      visible,
      showDrawer,
      onClose,
    };
  },
};
</script>

<style lang="scss" scoped>
.blog {
  padding-left: 30px;
  padding-right: 30px;
  color: #333;
  font-size: 16px;
  background: #fcfcfc;
  font-family: Overpass, 'GlowSansSC', 'Helvetica Neue', 'pingfang sc',
    'microsoft yahei', sans-serif;
  font-weight: 400;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  .nav {
    width: 300px;
    font-size: 0.8rem;
    margin-top: 80px;
    margin-right: 18px;
    cursor: pointer;
    .cell,
    .cell-name,
    span {
      &:hover,
      &.active {
        color: #17a2b8;
      }
    }
  }
  .content {
    font-size: 14px !important;
    max-width: 914px;
    text-align: justify;
    --webkit-flex: 2;
    flex: 2 1 0%;
  }

  // 隐藏烦人的滚动条
  .content::-webkit-scrollbar {
    display: none; /* Chrome Safari */
  }

  .content {
    scrollbar-width: none; /* firefox */
    -ms-overflow-style: none; /* IE 10+ */
    overflow-x: hidden;
    overflow-y: auto;
  }
}
::v-deep(.ant-space) {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
</style>
