<!--
 * @Author: YinXuan
 * @Date: 2022-01-30 21:48:57
 * @LastEditTime: 2023-12-28 10:27:06
 * @Description: 生成头部注释的快捷键：ctrl + alt + i，生成函数注释的快捷键：ctrl + alt + t
-->
<template>
	<div class="game">
		<div class="cell" v-for="item in list" :key="item.name" @click="chooseGame(item.path)">
			<span class="title">{{ item.name }}</span>
		</div>
	</div>
</template>

<script>
import { useRouter } from 'vue-router';
export default {
	data() {
		return {
			list: [
				{
					name: '火车',
					path: '/game/huoche/index.html',
				},
				{
					name: '跳一跳',
					path: '/game/tiaoyitiao/index.html',
				},
				{
					name: '小霸王',
					path: '/game/xiaobawang/index.html',
				},
				{
					name: '汽车',
					path: '/game/car/index.html',
				},
				{
					name: '卡通头像',
					path: '/game/avatar/index.html',
				},
				{
					name: '科目三',
					path: '/game/kemusan/index.html',
				},
			],
		};
	},
	setup() {
		const router = useRouter();
		function chooseGame(path) {
			console.log(window.location.origin);
			window.open(window.location.origin + path);
		}
		return {
			chooseGame,
		};
	},
};
</script>

<style lang="scss" scoped>
.game {
	display: flex;
	padding: 10px;
	.cell {
		padding: 30px 40px;
		border-radius: 8px;
		background: linear-gradient(90deg, #31e24f, #02d1fd);
		margin-right: 10px;
		cursor: pointer;
		.title {
			color: rgb(50, 55, 66);
			font-size: 16px;
			font-weight: bold;
			background: linear-gradient(0deg, #65b3ee 0%, #0827f4 100%);
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
		}
	}
}
</style>
