<template>
<!--	<div class="bottom-bar bg-dark">-->
<!--		<div class="title light">For One.</div>-->
<!--	</div>-->
</template>

<script setup>

</script>

<style lang="scss" scoped>
	.bottom-bar {
		height: 300px;
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		.title {
			font-size: 32px;
			font-weight: bold;
		}
	}
</style>