<template>
	<div class="bg-white">
<!--		<a-image-->
<!--			:width="80"-->
<!--			:src="getSrc('home-logo')"-->
<!--			fallback="../../assets/no-img.png"-->
<!--		/>-->
	</div>

</template>

<script>
	// import { getSrc } from "../../utils/common.js"
	export default {
		setup() {
			const getSrc = name => {
				console.log("fjaslkfsdj")
				const path = `../../assets/${name}.png`;
				const modules = import.meta.globEager("../../assets/*.png")
				return modules[path].default;
			}
			return {
				getSrc
			}
		}
	}
</script>

<style scoped>

</style>