<template>
	<div class="music">
		<a-affix :offset-top="1">
			<h2>天地一斗 - 周杰伦 & Kobe Bryant</h2>
			<audio ref="audio" :src="songUrl" controls>您的浏览器不支持音频播放</audio>
		</a-affix>
		<div class="music-content flex" ref="containerRef">
			<div class="music-cell">
				<p>作词：黄俊郎</p>
				<p>作曲：周杰伦</p>
				<p>Kobe：Do you know how to play B-ball Jay Chou</p>
				<p>Jay：哼 Of course</p>
				<p>天地山雨欲来因为一场胜败</p>
				<p>连风都躲在长城之后屏息等待</p>
				<p>众人的喝采已九霄云外</p>
				<p>你们该害怕接下来我还会更快</p>
				<p>Jay Jay Jay Chou Chou Chou Chou Jay</p>
				<p>Jay Jay Jay Jay Jay Jay Jay Chou</p>
				<p>Ko Ko Ko Be Be Be Be Ko</p>
				<p>Ko Ko Ko Ko Kobe Kobe</p>
				<p>Kobe：So you wanna play ball or sing first</p>
				<p>Jay：What-What-What-Whatever</p>
				<p>What-What-What-Whatever</p>
				<p>What-What-What-Whatever</p>
				<p>What-What-What-Whatever</p>
				<p>合：(Cool)你是天(Cool) 我是地(Cool)</p>
				<p>合而为一我们天下无敌(Of course)</p>
				<p>你要记(Cool) 我的名(Jay Chou)</p>
				<p>走路有风这叫做自信</p>
				<p>我深藏不露我身影如梭</p>
				<p>如沙鸥只求天地一斗</p>
				<p>球场夜如墨街灯亮如昼</p>
				<p>为了驰骋一宿胜负不皱</p>
				<p>我锐利如钩你防如铁胄</p>
				<p>平分秋色幽了天地一默</p>
				<p>一笑泯恩仇必争无王寇</p>
				<p>快意且开阔多年以后(喔喔喔)</p>
				<p>哼一拳一脚打出自己招牌</p>
				<p>别无分号如果你想要拆</p>
				<p>首先你反应要比我更快</p>
				<p>目前还没这样的人存在</p>
				<p>再深的炼狱我都离得开</p>
				<p>越热的考验越透心凉快</p>
				<p>你想追求未来还是坐在场外</p>
				<p>我用最炫的灵感自成一派</p>
				<p>What-What-What-Whatever</p>
				<p>What-What-What-Whatever</p>
				<p>What-What-What-Whatever</p>
				<p>What-What-What-Whatever</p>
				<p>合：(Cool)你是天(Cool) 我是地(Cool)</p>
				<p>合而为一我们天下无敌(Of course)</p>
				<p>你要记(Cool) 我的名(Jay Chou)</p>
				<p>走路有风这叫做自信</p>
				<p>Kobe：My man</p>
				<p>Jay： I'm not your man</p>
				<p>我深藏不露我身影如梭</p>
				<p>如沙鸥只求天地一斗</p>
				<p>球场夜如墨街灯亮如昼</p>
				<p>为了驰骋一宿胜负不皱</p>
				<p>我锐利如钩你防如铁胄</p>
				<p>平分秋色幽了天地一默</p>
				<p>一笑泯恩仇必争无王寇</p>
				<p>快意且开阔多年以后(喔喔喔)</p>
				<p>我深藏不露我身影如梭</p>
				<p>如沙鸥只求天地一斗</p>
				<p>球场夜如墨街灯亮如昼</p>
				<p>为了驰骋一宿胜负不皱</p>
				<p>我锐利如钩你防如铁胄</p>
				<p>平分秋色幽了天地一默</p>
				<p>一笑泯恩仇必争无王寇</p>
				<p>快意且开阔多年以后(喔喔喔)</p>
				<p>Kobe：Ha Ha Ha Ha You got spark</p>
			</div>
			<a-affix :target="() => containerRef" :offset-top="100"
							 v-if="!store.state.isMobile">
				<a-image
					:src="getCommonImg('plate')"
					:preview="false"
					:width="500"
				/>
			</a-affix>
		</div>

	</div>
</template>

<script>
	import {ref} from 'vue'
	import { useStore } from "vuex";
	import {getMusicUrl, getCommonImg} from "../../../utils/music/music"
	export default {
		setup() {
			const songUrl = getMusicUrl('Jay_Kobe');
			const containerRef = ref();
			const store = useStore();
			return {
				songUrl,
				getCommonImg,
				containerRef,
				store
			}
		}
	}
</script>

<style lang="scss" scoped>
	.music {
		.music-content {
			:deep(.ant-image-img) {
				animation: rotate  20s linear infinite;
				&:hover{
					animation-play-state: paused;
				}
			}
			@keyframes rotate {
				0%{transform: rotate(0);}
				100%{transform: rotate(360deg);}
			}
		}
	}
</style>