<template>
	<a-anchor @click="handleAnchorClick" :getCurrentAnchor="getCurrentAnchor">
		<a-anchor-link href="Guide" title="前言" />
		<a-anchor-link href="2021" title="2021 随笔">
			<a-anchor-link href="M12" title="M12" />
		</a-anchor-link>
		<a-anchor-link href="Note1" title="科目一笔记" />
		<a-anchor-link href="blog" title="精选文章">
			<a-anchor-link href="8JavaScript" title="8个工程必备的JavaScript代码片段" />
			<a-anchor-link href="CodeReview" title="code-review之前端代码优化汇总" />
		</a-anchor-link>
	</a-anchor>
</template>

<script>
	import {defineComponent, ref, toRefs} from 'vue'
	export default defineComponent ({
		props: {

		},
		setup(props, ctx)  {
			const chooseLink = ref('Guide');
			const getCurrentAnchor = () => {
				return chooseLink.value;
			};
			const handleAnchorClick = (e, link) => {
				e.preventDefault();
				let scrolls = document.getElementById(link.href);
				scrolls.scrollIntoView({block: 'start', behavior: 'smooth'});
				chooseLink.value = link.href;
				ctx.emit('handle', false);
			};
			return {
				getCurrentAnchor,
				handleAnchorClick,
			}
		}
	})
</script>

<style lang="scss" scoped>

</style>