<template>
	<div class="article">
		<a-image
			:src="getJpgSrc('year')"
			:preview="false"
			fallback="../../assets/no-img.png"
		/>

		<div class="container">
			<a-list item-layout="vertical" size="large" :pagination="pagination" :data-source="listData">
				<template #footer>
					<div>
						<b>ant design vue</b>
						footer part
					</div>
				</template>
				<template #renderItem="{ item, index }">
					<a-list-item key="item.title" @click="routeDetail(index)">
						<template #actions>
							<span v-for="{ type, text } in actions" :key="type">
								<component v-bind:is="type" style="margin-right: 8px" />
								{{ text }}
							</span>
						</template>
						<template #extra>
							<img
								width="272"
								alt="logo"
								src="https://gw.alipayobjects.com/zos/rmsportal/mqaQswcyDLcXyDKnZfES.png"
							/>
						</template>
						<a-list-item-meta :description="item.description">
							<template #title>
								{{ item.title }}
							</template>
							<template #avatar><a-avatar :src="item.avatar" /></template>
						</a-list-item-meta>
						{{ item.content }}
					</a-list-item>
				</template>
			</a-list>

		</div>
	</div>

</template>

<script>
	import {useRouter} from 'vue-router'
	import {getJpgSrc} from '../../utils/common.js'
	const listData = [
		{
			href: 'detail_1',
			title: '新建vite项目',
			avatar: 'https://zos.alipayobjects.com/rmsportal/ODTLcjxAfvqbxHnVXCYX.png',
			description:
				'Ant Design, a design language for background applications, is refined by Ant UED Team.',
			content:
				'We supply a series of design principles, practical patterns and high quality design resources (Sketch and Axure), to help people create their product prototypes beautifully and efficiently.',
		},
		{
			href: 'detail_2',
			title: '新建vite2项目',
			avatar: 'https://zos.alipayobjects.com/rmsportal/ODTLcjxAfvqbxHnVXCYX.png',
			description:
				'Ant Design, a design language for background applications, is refined by Ant UED Team.',
			content:
				'We supply a series of design principles, practical patterns and high quality design resources (Sketch and Axure), to help people create their product prototypes beautifully and efficiently.',
		},
	];
	export default {
		name: "index",
		data() {
			return {
				url: "url('//tva1.sinaimg.cn/large/006K89bWgy1gwnycg4bwoj31hc0zk1dd.jpg') no-repeat center center"
			}
		},
		setup() {
			const pagination = {
				onChange: page => {
					console.log(page);
				},
				pageSize: 6,
			};
			const router = useRouter();
			const routeDetail = index => {
				const url = `/article/detail?id=${++index}`
				router.push(url);
			}
			const actions = [
				{
					type: 'StarOutlined',
					text: '156',
				},
				{
					type: 'LikeOutlined',
					text: '156',
				},
				{
					type: 'MessageOutlined',
					text: '2',
				},
			];
			return {
				listData,
				pagination,
				actions,
				getJpgSrc,
				routeDetail,
			}
		}
	}
</script>

<style lang="scss" scoped>
	.article {
		//修改组件样式用 :deep(.class)
		:deep(.ant-image-img) {
			width: 100vw;
			max-height: 500px !important;
		}
	}

</style>