<template>
	<div class="blob M12">
		<h2>
			读 <a href="http://www.ruanyifeng.com/survivor/collapse/where-to-go.html" target="_blank">
			《未来世界的幸存者》 - 阮一峰
		</a> 有感
		</h2>
		<div>
			<p>
				那么，有没有计算机不能取代的工作，所需要的技能是计算机无法学会的？
				作家吴晓波把难以被机器替代的能力，称为“柔软的能力”。目前看上去，有三种能力，机器不大可能实现。
			</p>
			<ul>
				<li>
					人性化和人格魅力。机器提供的服务是没有人性的，也不会有人格魅力，更不会感动人心。
					这注定了，有些感受是机器无法提供的。最简单的一个例子，老奶奶在街上突然摔倒了，
					你会感到心痛和惊慌，要是一台机器突然故障了，你大概不会对机器产生同情心。
					所以，一个富有人格魅力和人性的人，在计算机主导的时代，是有优势的；
					相反的，一个没有个性、人云亦云、千面一律、会消失在流水线上的人，则天然具有竞争劣势。
				</li>
				<li>
					创意。
					计算机只能根据算法，做出下一步行为，没法超出算法的范围。
					这意味着，只要掌握了算法，就掌握了计算机的一举一动。
					人类则是难以预测的，常常会有天马行空的创意。
					机器最难以与人类竞争的，就是创造力。
					目前，还没有一种软件，能够写出一部人类爱看的小说，估计将来也难有。
					另外，科学家曾经有过争论，计算机会不会“顿悟”？目前看上去，大概也是不会的。
				</li>
				<li>
					决策和领导力（即企业家能力）。
					美国经济学家熊彼得曾经说过，生产力增加的主要原因，除了资本和劳动力，就是企业家能力。
					一个优秀的领导者，可以团结所有资源，创造出超额利润，最典型的就是乔布斯那样的人物。
					计算机没有办法团结领导一群人，齐心协力完成一个使命。
				</li>
			</ul>
			<p>
				作为个人来说，人生规划的时候，应该尽量发展这些能力，才能避免与机器“抢工作”。
			</p>
		</div>


		<a-divider style="border-color: #17a2b8" dashed />

		<p>
			“穷忙族是指那些薪水不多，整日奔波劳动，却始终无法摆脱贫穷的人。
			最早出现于上世纪90年代的美国，指拼命工作仍然无法摆脱最低水准生活的人们。
			日本经济学家门仓贵史在《穷忙族》一书中，
			他对“穷忙族”下的定义是：每天繁忙地工作却依然不能过上富裕生活的人。”
		</p>

		<a-divider style="border-color: #17a2b8" dashed />

		<div>
			<p>
				退一步说，就算你在大学里能学到了真正的知识，那也不应该在那里待四年。
				如果只学最需要学习的东西，一年就够了。
			</p>
			<p>
				四年时间足以让一个人在任何领域成为资深业者，甚至专家。
				可是我们的大学生呢，经过本科四年，不要说领域专家，甚至能力强的学生都寥寥无几。
				我们的大学制度用了四年时间，培养出了大量一无所长的、迷茫困惑的、市场滞销的年轻人。
			</p>
			<p>
				18岁是人生最有热情和精力投入一项事业的时候，但是，大学将你一连四年关在教室和图书馆里，把考试和绩点伪装成你奋斗的目标，
				人为将你与真实世界隔离，引导你去关注那些对未来人生毫不重要的事情。
				经过这样四年的歧途，等你真正走上社会、要跟全世界竞争的时候，你的竞争力不是变强了，而是变弱了。
				换句话说，四年制大学很可能是削弱你，而不是让你变得更强。
			</p>
		</div>


		<a-divider style="border-color: #17a2b8" dashed />

		<ul>
			<li>
				创业的核心问题是你能为你的客户做什么。
				你的产品能为客户提供什么？这是最重要的问题。
				只要有人需要你的产品，你就能活下去；越多的人需要，创业就越可能成功。
			</li>
			<li>
				你要创造一些不一样的东西。
				如果你跟别人生产一模一样的产品，就很难吸引顾客，你只能诉诸于低价。
				真正成功的创业者，都是创造了不一样的东西，
				苹果公司的口号就是叫 Think Different（与众不同）。
			</li>
			<li>
				不要好高骛远。第一件事就是确保今天能生存下来，然后生存一个月，
				接下来一个季度，然后全年，然后担心来年的事情。
			</li>
			<li>
				你要注重细节，这是所有成功者的特质。
				许多成功的创业者，都对各自行业的技术和生意具有巨大的兴趣和深刻的理解，
				他们往往都是沉浸在这个领域的细节之中的人。
				对于那些只想 “捞一把” 的人，细节看起来太琐碎了，很难令他们产生兴趣，或者感到兴奋。
			</li>
			<li>
				如果你的公司不能产生利润，就不要去借钱。
				过去，太多的企业采用投资驱动的模式，借钱运作，赚取差价，比如那些杠杆收购。
				它们只有尽可能多地借钱，才能赚到更多的钱。这种方式最终必然会发生崩溃。
			</li>
			<li>
				你要保持热情。创业将是一次困难的历险，所以最好是你自己真的想去做它，但也不要头脑发热，冲动行事。
			</li>
		</ul>

		<a-divider style="border-color: #17a2b8" dashed />

		<p>
			“第一空间是居住空间（也就是家），第二空间是工作空间，
			第三空间是休闲娱乐空间，在那里会见朋友、喝啤酒、谈天说地，享受人际交往的乐趣。
			典型的第三空间是咖啡馆、酒吧、美发店、露天啤酒店、桌球房、俱乐部这一类地方。”
		</p>

		<a-divider style="border-color: #17a2b8" dashed />


	</div>
</template>

<script>
	export default {

	}
</script>

<style lang="scss" scoped>
	.M12 {
		p {
			text-indent: 2rem;
		}
	}
</style>