@import "./common/swiper";
@import "./common/color";
@import "./common/layout";
@import "./common/page";

body {
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

button::after {
  display: none;
}

