<template>
	<div class="map">
		<div id="cow" style="width: 100%;height: 100vh;"></div>
	</div>
</template>

<script>
	import {getCurrentInstance, onMounted} from "vue";

	export default {
		setup() {
			// 通过 internalInstance.appContext.config.globalProperties 获取全局属性或方法
			let internalInstance = getCurrentInstance();
			let echarts = internalInstance.appContext.config.globalProperties.$echarts;
			const echartInit = () => {
				const myChart = echarts.init(document.getElementById('cow'));
				const path = 'path://M1472.28,127.91v1C1551,161.7,1579,253.05,1566,330.91a302.16,302.16,0,0,1-10.75,45c-1.53,4.64-2.58,11.74-5.84,15.49-4.58,5.24-17.68,7.14-24.16,9.56-16.89,6.31-33.09,14.32-49,22.73a288.45,288.45,0,0,0-41,26.87c-5.65,4.35-12.1,13-19,15-5,1.48-13-2.41-18-3.47-13-2.75-26.75-4.88-40-5.2-34.31-.84-68.14-.13-101-12.07-87.12-31.65-121-121.33-121-207.95-8.6,6.19-14.51,17.69-19.24,27-12.29,24.17-18.25,50.2-20.93,77-9.21,92.11,29.78,183.68,110.17,232,17.52,10.54,39.51,23,60,26-27.07,22.42-61.21,39.27-91,58l-24,15.1c-3.06,1.92-8.39,4-10.25,7.28-3.37,5.86,12.26,15.67,16.25,18.32,19,12.57,45.11,21.88,68,22.35-14.3,12.93-35.35,20.72-51,32.66-34,26-63.52,56.3-91.71,88.34a787.23,787.23,0,0,0-57.4,73c-12.44,18.05-23,37.85-38,54-13.26,14.26-28.7,25.07-44.92,35.66-56.3,36.75-122.64,58.87-187,76.76-91.95,25.57-185.55,44.87-277,72.31-41.2,12.35-81.72,26.39-117,51.7-11.09,8-22.6,17.26-31.57,27.57-4.78,5.49-11.54,16.79-18.44,19.4-6.5,2.45-17.27-.17-24-1.13-21.36-3-50.8-8.45-64.21-27.27-9.24-13-3-28.7,5.88-40,17.49-22.23,44.8-39.36,71.33-48.66,53.62-18.78,111-24.35,165-42.34,25.32-8.44,54.45-19.34,71.49-41,21.79-27.7,14.86-74.74,5.94-106-26.46-92.7-114.26-157-210.43-159,14.47,18,33.35,30.17,41.31,53,2.84,8.16,2.07,15.62,2.86,24,1.79,18.79,6.07,37.51,19,52,28.13,31.53,70.68,26.37,102.82,49.93,17.21,12.61,32.57,33.58,27.1,56.07-10.26,42.27-68.2,52.95-104.1,59.42-57.71,10.42-118.24,18.08-173,40-30.44,12.18-59.21,31.26-72.13,62.6-19.22,46.59,5,87.25,44.13,113.33a263.25,263.25,0,0,0,41,22.09c4.22,1.84,12.58,3.76,11.82,9.6-1.91,14.69-8.09,29.16-10.39,44-4.36,28.12-5.11,57.57-4.41,86,1.54,62.75,7,125,7,188,0,39-.72,79-10.73,117-12.41,47.06-52.6,77.71-69.21,123a177.6,177.6,0,0,0-11,53c-.64,14.62,1.52,29.6-1.7,44-3.28,14.63-19.08,24.93-20.24,39-1.48,18,10.2,33.95,7.6,52-3.72,25.85-33.15,41.75-27,70,3.33,15.35,18.49,24.8,32.33,29.66,28.41,10,63.53,12.06,93,5.68,19.29-4.18,41.85-16,32-39.34-16.25,4.65-30.79,10.21-48,11-16.31.71-31.87-3.27-48-4v-1c29.51-5.48,58.33-7.43,85-23-14.07-44.48-78.23-59.81-76-110,.64-13.92,8.93-27.24,17.09-38,18.37-24.2,43.35-42.89,67.87-60.42,58.41-41.76,121.88-75.85,180-118,37.2-27,70.16-60.68,106-89.57,16.43,79.56,64.1,157.63,124,211.83,20.94,19,44.5,33.9,67,50.8,11.75,8.82,25.72,18.68,33.54,31.37,8.65,14.06-8.82,18.72-8.4,32,.46,14.58,16.09,26.43,19.35,41,2.91,13-1.16,25.79-5.54,38-3.51,9.81-6.76,21.2,1.52,29.67,6.93,7.08,18.29,9.25,27.53,11.45,25.93,6.14,53.84,6.41,80,2,8.67-1.47,40.39-11.88,28.83-26.48-3.37-4.25-19.71-.6-24.83-.6-23,0-42.29-5.75-64-12v-1c25.71,0,58.05-.69,82-11-7.68-18.45-19.4-37.15-34-50.91-11.59-10.93-25.16-18.77-35.56-31.09-37.67-44.64-65-113-62.4-172,1.41-32.05,18.57-53.87,35.62-80,19.45-29.79,38.76-59.78,57.54-90,8.14-13.11,16.85-25.89,25-39,2.87-4.62,6.56-13.55,11.85-15.69,6.63-2.68,18,1,24.95,1.6,22.7,1.83,45.45,4.82,68,8,73.16,10.17,145.12,22.29,216,43.41,15.49,4.61,31.33,8.38,47,12.35,7.83,2,17.29,3,24,7.75,28.88,20.47,61.08,50.49,76.74,82.62,10.42,21.38,9.22,47.09,24.72,66,30,36.62,76.59,55.44,109.5,89,22.06,22.51,25,52.87,38.3,80,5.78,11.84,18.15,18.21,23.39,30,9.57,21.55-5.94,45.37-13,65-5.93,16.62-2.68,37.29,8.63,51,28.34,34.37,85.85,32.9,125.68,25.39,21.63-4.08,45-13.08,45-38.39-33.33.09-65,2.77-98-5.48-14.23-3.55-26.6-9.94-40-15.52v-1c45.78,5.91,88.63,10.78,134-2-13.48-32.38-41.31-63.58-67-86.83-22.22-20.11-45.87-38.14-63-63.17-19-27.75-26.23-61.69-23.94-95,1.07-15.61,8.5-30.09,5.24-46-5.58-27.3-24.69-47.5-36-72-11.87-25.65-13.5-55.3-15.4-83-.84-12.21-3.08-26.88-.63-39,1.37-6.77,7.76-13.69,11.93-19,11-14,23.22-26.45,35.79-39,20.79-20.76,45.55-37.78,69-55.37,32.27-24.21,65.23-49,101-67.85,24-12.65,58.09-21.5,79.91.31,19,19,18.11,52.46,3.73,73.91-6.5,9.7-18.93,17-21.17,29-3.86,20.58,15.81,43.32-7.47,58.9-30.6,20.47-81.21,5.06-100.63,43.1a53.83,53.83,0,0,0-5.07,16c-5.36,34.59,6.69,80.69,32.7,104.91,11.92,11.1,29.9,18.48,46,12.16,3.89-1.53,11.44-4.6,12.65-9.1,1-3.68-4.44-6.88-6.65-9a102.67,102.67,0,0,1-18.69-24c-14-25.5-15.53-49.67-14.31-78h1c.75,36.25,22.54,76.42,57,90,42.58-109.73,89.4-217.41,110.42-334,8.3-46,17.54-102.62,1.36-148-5.89-16.53-21.23-23.44-35.78-31.31-29.79-16.11-59.59-31.3-91-44.09-8.3-3.37-16.6-6.81-25-9.92-3.63-1.34-9.71-2.44-12.38-5.38-3.17-3.49-.62-16.55-.62-21.3,0-20,.28-40.07-1.09-60a870.11,870.11,0,0,0-11.33-95c-8.14-45.1-19.57-89.75-17.54-136,1.44-32.95,3.38-70.71,22.48-99,8.7-12.88,22.25-21.62,33.48-32.08,17.49-16.29,33.42-34.41,45.8-54.92,16.85-27.91,27.29-59.34,34.55-91,5.5-24,8.46-48.26,18.51-71,17.57-39.74,54.62-67.63,70.08-108,11.51-30.07,9.57-65.44.92-96-3.24-11.42-6.37-24.73-15.86-32.67-26.77-22.36-65.92,2.83-61.81,35.67,2.31,18.57,25.16,26.94,39.81,16.37,9.18-6.63,10-16,10-26.37h1c1,7.24,2.88,13.66,1.1,21-5.85,24.08-34.91,38.31-56.1,23.22-23.42-16.69-27.41-51.5-10.84-74.22a58.1,58.1,0,0,1,21.84-18.51c11.76-5.52,22.5-5,35-4.49v-1c-5.86-3.08-11.5-6.23-18-7.76-33.08-7.79-45,24.6-68,38.95-52,32.51-108.58,62.8-167,81.81,0-81.44-16.39-176.06-91-223.56a189.17,189.17,0,0,0-48-21.71c-21.73-6.48-44.43-8.73-67-8.73m133,55c0,6.85.56,13.72-2.67,20-8.44,16.45-28,18.37-42.33,9v-1c14,.61,27.06-.94,36.47-13,3.6-4.61,5.06-10.41,8.53-15m28,41c9.74,33-39.31,61.09-61,33,19.8,3.85,38.15.49,51.53-16,4.25-5.23,6-11.45,9.47-17m25,56c-2,15.68-10.38,29.06-25,35.88-18.57,8.67-48.86,2.65-56-18.88,20.19,10.63,41.93,14.1,62,.65,7.47-5,12.19-12.14,19-17.65m186,36-23.14,54-29.86,67h-1v-66h-1c-5,28.89-23.6,57.21-33,85h-1l-4-59h-1l-14,39-9,22-10-51h-1c-1.56,11.56-4.92,29.05-11,39l-18-34c-.82,10.06-4.13,27.77-10,36l-20-44,44-14.34,67-27.91,76-45.75m-182,19c-1,46.3-68.69,59.78-89,19,7.24,2.29,13.51,6.61,21,8.53a61.2,61.2,0,0,0,51-10.29c6.62-4.92,11-11.78,17-17.24m-510,23c4.91,26.55-30.79,50.19-50,27,15.91,3.09,30.78.15,41.67-13,3.55-4.28,5-9.65,8.33-14m17,38c2.32,8.49,5.16,16,3.54,25-5,27.78-32.38,37.31-56.54,28v-1a51.93,51.93,0,0,0,47.69-31c3-6.73,2.48-14.42,5.31-21m28,32c24.78,24.8,25.68,67.05-9,84.63-8.79,4.46-18.31,5.37-28,5.37v-1c24.42-11.62,42.28-34,42-62-.09-8.54-6.36-19.21-5-27m57,27c29,22.14,29.88,67.72,3,91.83-13.69,12.28-29.28,15.17-47,15.17v-1c33.84-11.52,51.46-46,50-80-.39-8.8-6.23-17.58-6-26m76,15c32.9,23.18,31.66,75.17,3,100.83-14.75,13.21-32,16.17-51,16.17v-1c33.86-13.15,55.87-46.86,55-83-.27-10.86-7.83-22.88-7-33m367,0c-1.53,11.34-6.74,22.81-11.76,33-5.79,11.79-12.83,23.62-22.33,32.83-32.55,31.58-79.5,22.37-113.91-.83,3.4-14.17,15-26.81,26-35.73,34.26-27.82,80.08-29.27,122-29.27m83,153v1c-32.1,9-68.74,12.91-102,13v1l70,1,37-3v1c-32.09,13.35-65.32,29.91-101,30v1c39.41,0,72.72-12.82,110-23-6,8.07-16.41,13.4-25,18.29-26,14.78-55.32,20.71-85,20.71-14.48,0-32.39-1.69-42.81-13-13.24-14.41-3.73-39.46,11.81-48.05,15-8.3,34.65-6.49,51-4.74,25.45,2.73,50.37,4.83,76,4.83m46,40v1c-72.51,34.36-150.45,63-232,63v1c50.37,0,102.12-5,151-17.88,20.48-5.4,39.55-16.27,60-21.12v1c-67.17,35.76-136.49,64-214,64v1c49.63,0,98.61-6.95,146-22,18.9-6,36.58-14.83,55-22-13.6,14-39.3,21.26-57,28.85-54.69,23.48-109.23,39.15-169,39.15-29.63,0-87.91-8.9-72.45-52,10.38-28.94,53.16-25,77.45-25,26.34,0,52.55,3.12,79,2s54.08-6.6,80-12c32.94-6.82,63.51-21.3,96-29m-490,95c-9,12.82-22,23.86-33,35-13.57,13.74-26.34,28.34-40,42-9.52,9.52-21.78,19.12-33.47,5.82-6.26-7.12-8.17-19.63-.42-26.43,10.95-9.61,28-15.38,40.89-22.17,20.8-11,43.44-27.7,66-34.22m110,7c13.35,13.32,27.65,25.68,41,39,8.43,8.42,17.17,16.84,26,24.83,7,6.32,19.4,14.49,21.61,24.17,3.34,14.66-14,28.53-27.61,22.35-8.07-3.66-11.35-15.11-15.42-22.35-11.5-20.39-22.56-41.2-33.32-62-3.38-6.52-13.32-18.7-12.26-26m-58,3c0,37.17-1.35,76,2.17,113,1.3,13.63,5.23,34.75-9.17,42.59-13.67,7.44-36.07-1.26-34.9-18.59.71-10.58,6.13-21.87,9.18-32l19-63c3.75-12.51,5.9-31.54,13.72-42m-21,9c-6,19-20.18,37.46-29.69,55-9.86,18.19-18.64,41-31.7,57-7.09,8.69-20.53,7.56-28.42.5-12.18-10.9-6.4-24.08,3.81-33.32,20.52-18.57,40.48-37.76,61-56.34,8.27-7.48,15.88-16.4,25-22.83m41,0c18.35,30,36.3,60.21,55,90,6.77,10.82,18.18,24.73,7.71,37-7.85,9.17-26.4,12-33.24,0-4.52-7.89-5.11-19.19-7.29-28-5.31-21.25-9.84-42.7-15-64-2.29-9.44-9.28-25.59-7.13-35m-889,172c-21.37-15-38.7-38.46-57-57-22.46-22.73-50.59-44.87-69-71,14.95,2.24,29.74,12,42,20.35,36.79,25,67,66.75,84,107.65m-130-95c15.29,21.27,35.84,39.06,56,55.58,9.21,7.56,21.44,14.27,29,23.42-32-1.37-58.8-24.18-74.13-51-3.78-6.61-13.15-20.27-10.87-28m1243,10c5.1,17.26,2.45,39.26,2,57-1,41.87-6.18,83.51-17.43,124-5.68,20.43-14.79,39.76-20.58,60h1c5.34-16.88,17.8-33.09,25.75-49,18.06-36.11,35.72-73.55,48.25-112h1c-1.71,21.7-7.08,43.65-11.2,65a1364.13,1364.13,0,0,1-42.8,164h1l48.58-77,41.42-81h1l-34.33,130-24.87,70-16.8,40h1l35-49,47-79h1c-11.54,44.6-23.55,88.39-41.42,131-10.72,25.55-24.91,49-36.58,74l46.37-61,30.63-44h1c-2.82,19.19-11.82,38.78-18.31,57a892.42,892.42,0,0,1-60.69,135,595.42,595.42,0,0,0,63-75h1c-2.34,15.9-9.21,31.82-14.33,47-11.65,34.49-27.12,68.68-47.34,99-9.95,14.93-21.5,30.6-36.33,41,0-23.32,3.72-46.66,4-70,.93-78.47-3.47-156.65-17.42-234a892.72,892.72,0,0,0-29.25-118c-4.27-13.12-8.85-26.18-13.93-39-2.51-6.32-7.29-14.22-7.84-21-.44-5.6,2.71-12.57,4.07-18,3.14-12.59,6.07-25.27,8.57-38,7.43-37.9,12.8-76.37,12.8-115h2c1.2,58.05,17.25,118.15,3,176h1c16.24-39.6,34-77.54,45.58-119a454.82,454.82,0,0,0,10.34-46c1.31-7.76,1.07-17.84,4.08-25m-413,70c5.41-1.52,11.34-3.23,17-2.55,45.43,5.41,38.79,62.68,22,91.55h-1l-1-27h-1l-5,28h-1l-5-39h-1l-2,40h-1l-12-50h-1l2,49h-1l-14-47h-1l4,47h-1c-6.44-15-14.6-34.95-17-51h-1l10,55h-1c-9.22-20.8-21.68-47.51-25-70h-1l15,74h-1c-8.36-15.68-17-34.66-21-52h-1l11,53h-1l-20-43h-1l12,50h-1l-22-41h-1l16,48c-10.14-7.77-19.56-23.5-25-35h-1l15,37c-7.66-3.57-14.41-12.46-18-20h-1l13,25c-28.92-15.39-67.06-61.19-30-89.46,4.72-3.6,10.4-5,16-6.54-8-27.15,18.21-52,44-52,17.77,0,33.13,12,40,28m-39,23,1,1-1-1m157,165v-1l26-9v-1l-29,4v-1l35-17v-1l-39,11v-1l44-27v-1l-48,17v-1l42-29-45,18v-1l44-31v-1l-50,26v-1l59-46c-21.47,11.31-43.75,30.16-67,37v-1l44-37-48,27,35-34-45,27,32-35-41,29,25-34-31,25,13-23-19,19c7.13-27.47,25.41-68.94,61-62.53,6.42,1.15,13,3.62,18,7.86,3,2.52,6,8.94,10.1,9.46,5.24.67,12.45-3.1,17.91-3.62,14.25-1.35,28.44,5.57,37,16.83,9.21,12.19,12.1,28.87,5.73,43-2.64,5.85-8.72,11.12-10.59,17-1.24,3.88,3.09,8.47,4.35,12,2.22,6.23,2.34,14.57.87,21-8.36,36.41-53.28,33.2-81.32,32m-316-149c-9.77,26.84-33.09,53-51.84,74-62,69.42-148.28,112.34-240.16,124.72-28.53,3.84-56.39,3.28-85,3.28v-2c32.11-4.32,65.57-17.48,96-28.31,76.94-27.38,152-62.23,217-112.34,23.38-18,42-40.27,64-59.35m191.33,2.67.34.67-.34-.67m-40,3,.34.67-.34-.67m-23.33,19.33,1,1-1-1m305,6c47.91,32.33,77.54,87.44,68.41,146-4.37,28-17.32,68.7-53.41,62.67-39.88-6.66-32.15-69.51,8-66.34,7.87.62,14.47,3.37,21,7.67,8.36-40.54,6.18-75.37-14.85-112a159.52,159.52,0,0,0-18.44-26c-3.15-3.59-9.46-7.43-10.71-12m-143,3,1,1-1-1m-18,2,1,1-1-1m34,3,1,1-1-1m26,15,1,1-1-1m23,1,1,1-1-1m-238,40-27-7v1c8.65,2,20.27,7.08,26,14l-39-6v1c12,1,26.62,7,37,13v1l-52-4v1l47,13v1l-51-1v1l48,11v1h-56v1l57,7v1l-77,3v1c24.17,0,53.5,2.4,77,8v1l-59,4v1l57,5v1l-49,6v1l51,4v1l-46,8v1h50v1l-39,11v1l38-2v1l-23,9v1l26-5c-3.72,6.43-11.75,10.68-18,14.4-19.67,11.7-47.78,20.06-67,2.41a35,35,0,0,1-10.53-17.81c-.8-3.77.68-9.29-1.54-12.57s-8.52-3.8-12-5.31a42.36,42.36,0,0,1-17.08-13.12c-20.88-28.29-1-67.22,33.08-70,0-5.45.48-10.86,2.47-16,16.06-41.47,75.51-20,94.53,7m138,22h-1c-4.91-26.06-35.82-46.31-56-20-4.56-12.85,14.79-25.15,25-27.19,28.54-5.71,40.67,24.69,32,47.19m91-41,1,1-1-1m-154,4-2,13-8-11c3.64-3.31,5.3-3.42,10-2m-5,20c-29.83-6.15-51.37,18.89-37,47-4.81-1.64-8.47-5-11.61-9-10.65-13.57-8.63-34.2,5.61-44.36,12-8.53,35-7.37,43,6.36m160-9,1,1-1-1M1097,1069.23l.66.34-.66-.34m194.33,12.67,3-1,1,7-12,3c.57-3.17,3.82-12.42,8-9m-65,33c-5.93-4.35-9.93-17-12-24-.82-2.83-1.91-8.2,2.09-9.25,3.68-1,5.61,3.48,6.35,6.25a112.35,112.35,0,0,1,3.52,27m7-8c.68-3.53,2.4-21.07,7.79-20.08,6.55,1.2-5.14,18.35-7.79,20.08m137-12,1,1-1-1m-135,24c5-7,12.85-13.76,20-18.53,2.36-1.58,7.77-4.78,9.86-1,1.86,3.35-2.55,6.85-4.88,8.45-6.81,4.68-16.85,9.65-25,11.1m-21-5c-3.62-1.56-19.7-8.26-17.65-13.59,1.12-2.93,5.28-.19,6.65.87,4.32,3.36,8.69,7.77,11,12.72m65,46c3.6-5.28,11.31-7.72,15.67-13,8.57-10.39,8.57-26.61,0-37-3.9-4.73-10.23-7.27-13.67-12,10.34,0,20.07,2,27.91,9.3,13,12.06,11.9,34.24-1.92,45.17-8.33,6.59-17.81,7.53-28,7.53m316-55-1,3,1-3m-376,18c-6.47,3.88-19.5,4.25-27,4-2.73-.11-8.66-.88-8.08-4.91.52-3.54,5.3-4,8.08-4a102.69,102.69,0,0,1,27,4.9m-55,1v2l-12,4-3-4c3.47-7.92,8.72-5.29,15-2m63.13-3.25c4.09-1.1,6,5.2,1.77,6.28-4,1-5.85-5.18-1.77-6.28m18.87,4.25v-2c3.26,0,21.77-3.61,21.65,1.87s-18.45.54-21.65.13m-10,4a109.5,109.5,0,0,1,12,6.28c2.7,1.54,5.39,3.1,8,4.77,3,1.91,13,12.66,3,11.66-6.45-.64-23.11-16.37-23-22.71m-66,1c-2.24,6.14-5.66,11.24-6,18-1,23.73,19.44,33.62,40,32-11.45,13.82-36.37,12.67-47.47-1-9.27-11.45-8.17-27.5.4-38.95a31.67,31.67,0,0,1,13.07-10m55,2c.71,8-2.25,19.48-5.09,27-1,2.62-3.14,7-6.7,6.17-4-1-2.74-6.51-1.74-9.17,2.92-7.8,7.6-18.14,13.53-24m-11,2c-4.65,5.77-12,14-20,13,2.12-7.39,12.9-11.73,20-13m136,143c-9.89,22.12-39.74,19.35-56,7.24s-24.49-37.81-27-57.24h1l17,21-12-26,27,26-20-32,40,32-30-39,41,30-31-37,44,30-40-39,64,42-40-36-16-16,50,30-41-37,43,22-38-32v-1l41,18-39-29,41,14v-1l-33-20v-1l25,5v-1l-24-10c7-3.14,14.66-1.63,22-1.09,23.3,1.71,50.28,10.14,56,36.09a35.71,35.71,0,0,1-1.46,21c-1.49,3.71-6.09,7.91-5.94,12,.34,9.16,10.9,17.45,11.38,28,1.11,24.47-16.4,46.95-42,47.54-9.75.23-17.92-3.94-27-6.54m-116-137,7,22c-7.65-1.25-9.62-15.74-7-22m127,11,1,1-1-1m-68,18v7c-7.6.51-10.64-2.39-12-10l12,3m-20-2c2.48,8.81,4,17.11.9,26-6.8,19.17-30.6,26-46.9,14.36-8.19-5.87-12-14.8-14-24.36,16.33,13.11,35.34,21.78,51.67,2,4.52-5.48,4.51-12.5,8.33-18m94,16v1l3,1-3-2m-159,5v13l-7,1-3-4,10-10m-63,6-14,22,20-18-18,36h1c5.28-11.12,15.22-24.52,25-32l-19,49h1l27-41h1l-16,48h1c4.46-14.08,15.76-28.77,24-41h1l-16,52h1l23-50h1l-20,72h1l30-68h1l-13,56h1l21-50h1l-8,48h1l18-47h1l-5,46h1l14-47h1l-1,43h1l10-39h1l2,26h1l3-26h1c6.57,17,12.39,37.56,8.48,56-5.16,24.33-31.08,41.28-54.48,29-10.63,28-49.21,32.56-70,13.82-11.91-10.75-15.64-28.55-12-43.82-22.18-3.33-31.83-27.15-26.25-47,5.65-20.14,28.24-41.12,48.25-47m219,4,1,1-1-1m-1165,9c11.79,43.13,63.28,76.37,105,85v1c-35.68-.74-79-19.55-96.22-52-4.37-8.25-12.45-24.61-8.78-34m1163,6,1,1-1-1m-232,3,1,1-1-1m-536,47c-15.95-5.39-31.12-10.22-48-11.83-45.95-4.38-87.44,11.77-127,32.83,7-12.12,20.55-21.05,32-28.67,39.85-26.52,91.69-32.75,137-17.66,22.11,7.36,52,20.84,54.82,47.33,3.26,30.35-41.74,49.71-55.75,19-5.87-12.88.9-29.5,6.93-41m188-32,76,15v1l-42,22v1l47,10v1l-44,24v1l65-3-26,19-42,28v1l75-14v1l-93,67,80-19c-12,15.65-34.36,27.6-50,39.65-30.72,23.67-61.34,53.17-95,72.35,5.57-19.33,17.38-38.12,24.79-57a458.62,458.62,0,0,0,26.93-102,331.28,331.28,0,0,0,2.19-74c-.76-9.5-7.57-25.25-4.91-34m562,1,2,2-2-2m24,3,1,1-1-1m-37,4,1,1-1-1m-46,9,1,1-1-1m15,0,3,3-3-3m20,0,1,1-1-1m313,7,1,1-1-1m-592,129-74,3v-1l28-21c-26.61.55-58.13,3.82-84,10l20-15,49-33-61-5,15-10.15,34-18.85v-1l-59-15v-2l58-12.42,22.57-3.94,3.8,8.36,6.63,24,22.25,58,18.75,35m111-126,1,1-1-1m10,11,1,1-1-1m359,5c-3.64,7.95-11,14.48-16.72,21a376.36,376.36,0,0,1-48.28,45.4c-81,64.74-191,95.89-292,63.6v-1c93.66-7.39,189-40.62,273-81.26,29.13-14.09,55.56-32.6,84-47.74m-335,5,1,1-1-1m-18.67,12.67.34.66-.34-.66m746.67,3.33c-4,10.82-11.47,20.72-16.74,31-11.54,22.51-22,47.75-25.26,73h-1c-25.77-42.14.69-86.29,43-104m-69,5c-6.38,9.06-15.37,16.66-22.71,25-23.71,26.94-49.14,56.12-62.29,90-5.31-10-1.62-26.62,1.16-37,9.65-36.18,47.59-69.39,83.84-78m-1350,74c-5.76-7.72-10.07-16.77-19-21.58-7.09-3.82-14.48.3-14.65,8.58-.19,10.13,7.28,18.1,10.65,27-9.55-2.21-17.11-7.11-24-14-16.27-16.26-26.69-45.3,0-57.68a31.9,31.9,0,0,1,12-3.06c26-.78,41.69,39.59,35,60.74m29,18c5.18-8.3,13.44-15.74,14.63-26,1-8.18-6.44-12.49-13.63-9.87-9.58,3.5-13.89,13-22,17.87a56.19,56.19,0,0,1,5.76-26c5.62-11.42,14.81-25.06,28.24-27.69,28.06-5.48,42.54,25.25,27.78,46.69-4.66,6.77-11,12.13-17.78,16.64a49,49,0,0,1-23,8.36m1115-60-2,4,2-4m-992,21.39c24.32-1.72,28.64,37.5,4,39.52-27.06,2.22-30.95-37.61-4-39.52m-154,27.94c27.49-4.82,35.84,37.46,8,42.34-27.08,4.75-35.1-37.59-8-42.34m-24,13.67c-9.38,5.65-21.43,4.64-28.28,15-3.9,5.89.36,11.42,6.28,13.53,9.5,3.38,19.82.42,29-2.52-9.88,19.83-47.72,36.81-66.83,20.32-18.74-16.17-8-43,12.83-49.8,6.92-2.26,13.8-2.52,21-2.52,9.4,0,17.71,1.29,26,6m47,30c9.11,2.49,20.28,9,30,5.26,7.07-2.72,8.31-9.74,3.77-15.26-6.34-7.71-15-11.08-23.77-15,17-12.62,57.8.34,64.21,20,7.8,23.92-15.09,42.14-37.21,36.08a62,62,0,0,1-19-9.29c-7.59-5.34-15.32-12.7-18-21.79m970-27,11,96-44-41,5,60c-17-11.28-32.55-28.55-47-43l29,78-32-24.12-51-39.88c11.93,28.5,35.45,54.33,44,84l-39-28.63-77-57.37c15.81,29.7,41.11,57.58,53,89-22.38-9.41-44.15-29.53-64-43.58q-61.1-43.21-123-85.42c4.26-1.53,9.57.39,14,1,10.31,1.42,20.65,2.8,31,3.83a694.58,694.58,0,0,0,99,3.13c45.84-2,92.82-10.18,136-26,18.85-6.91,36.29-20,55-25.95m-1140,4.46c25.56-.81,26.56,39.2,1,39.2-24.83,0-25.94-38.41-1-39.2M797,1405.23l.66.34-.66-.34m841.33,13.67-1,2,1-2m-1156,8c-.44,10.17-3.59,28.15,8,34,14.89,7.46,18-24,18-32,17.73,13.7,18.84,56.69-1,69-21.27,13.2-43-5-43-27,0-7.36.64-14,3-21,3-9,7.1-17.39,15-23m588,12c1.81,42,10.69,83.63,28.31,122,7.81,17,18.66,31.77,27.69,48-18.64-1.48-37.52-6.86-56-9.92-37.14-6.15-74.55-11.29-112-14.91-33.14-3.21-67.66-6.36-101-4.08-20.42,1.4-40.6,5.39-61,6.82-22.36,1.57-47.11,3.25-69-2.39-10.33-2.66-21.8-8.89-23-20.52,13.73,4.35,23,10,38,10-5.17-13.8-3.92-31.05,0-45h1c6.38,14.77,21.44,28.52,37,33,0-16.18-2.43-36.79,7-51,7.41,15.63,19.47,32.84,37,38-.14-17.15-2-32.81,8-48,3.36,4.69,4.52,10.92,7.43,16,7.29,12.74,19,24.15,32.57,30,0-16.21-.22-35.54,8-50h1c8.11,18.3,14.61,37.08,32,49-4.83-20.29.31-47.81,10-66,4.24,6.74,5.81,15.62,8.86,23,6.89,16.68,15.59,32.88,28.14,46,0-19.12-.59-38,2.13-57,.89-6.21,1.57-17,6.87-21,1.35,31.27,22.24,61.38,42,84-1.09-25.29-2.9-49.67,0-75,1.16-10.35,2.42-24.05,8-33,12.83,37.82,18.07,80.41,45,112a499.31,499.31,0,0,1,.83-88c1-9.94.8-22.92,5.17-32m214,42,1,1-1-1m-635,3c-1.72,11.45-8,23.06-13.72,33-22.54,39.4-64.15,66.87-109.28,71.95-24.81,2.8-67.3,2.25-72.67-29.95-7.37-44.11,58.5-56.52,65.91-12,1.12,6.72-.2,12.59-2.24,19,40.85,0,77.9-15.94,105.91-46,10.34-11.1,16.65-24.61,26.09-36m-300,23.3c55.12-7.94,82.86,65.83,36,96a51,51,0,0,1-21,7.41c-54,7-80.66-66.35-35-95.84a51.36,51.36,0,0,1,20-7.57m-3,29.7c-3.64,7.79-16.4,22.36-15.75,30.9.27,3.49,5.17,5,7.75,6.41,7.92,4.3,15.67,9.22,24,12.69l17-33-33-17m1132,41,20,59,11,35-45-37,15,57-44-41,2,55-46-52v58h-1l-37.42-62-21.58-37c12.07,1.62,23.69,5.68,36,6,44.13,1.08,76-16.59,111-41m-1109,204v-1c53-12.15,110.13-43.3,150-80-14.43,8.22-27.55,18.83-42,27.13-39.89,22.9-86.13,41-132,46.87v-1c58.55-19.05,116.35-52.27,161-95-14.74,9.18-28.22,20.37-43,29.57-35.05,21.83-72.47,39.29-112,51.15-12,3.6-24.57,8.61-37,10.28,21.82-14.49,50.72-20.72,74-33.31,48-25.94,88.27-58.6,127-96.69,15.34-15.09,43.34-40.45,67-28.62,39.51,19.75,0,63.81-19,81.53-37,34.43-82.1,54-129,70.78-20.52,7.33-43.1,16.57-65,18.31m468-153v1c-56.73,26.52-100,91.38-100,154-28.71-14.54-35.34-59.06-19.3-84,18.72-29.13,54.16-46.72,85.3-59.4,10.77-4.38,22.44-9.89,34-11.6m45,3c-8.66,11.77-20.89,20.85-29.57,33-21,29.33-32.33,67-32.43,103-6.52-4.69-11.48-11.94-15.22-19-28.43-53.65,32.72-99.73,77.22-117m-581,4c42.61,13.62,88.26,20,133,16.91,20.57-1.41,40.61-7.29,61-8.91v1c-14.54,9-27.7,19-44,24.95-55.81,20.46-105.49.78-151-32.95l1-1m1532,8c-16.45,31.23-22,62.25-9,96-40.31-18.8-28.28-81.58,9-96m-1125,7c-5.59,9.72-13.3,18-18.69,28-15.09,27.84-26.05,63.11-26.31,95,18.47-1.46,37.55-3.83,51.91,11,27.62,28.62-9.23,63.21-40.91,57.5-28.41-5.13-39-37.23-39-62.54,0-49.78,24.67-108.17,73-129m-196,22-6,6,6-6m-234,5c33.75,19.62,76.22,22.1,114,22v1c-28.48,16.62-65,19.94-93,.65-6.34-4.37-21.71-15-21-23.65m252,13-1,2,1-2m-3,2-8,8,8-8m996,47c-2.89,22.83-.92,41.85,5,64l-22-19,5,56h-1l-30-54h-1l-4,34h-1l-22-40-2,29h-1l-25-63c22.71,11.62,49.89,13.22,74,4.92,8.84-3,16.39-8.66,25-11.92m-1176,102v2l-38,30,8-26-34,28,12-35-37,32,8-34-38,37c4.62-16,13.74-31.83,20.69-47,2.35-5.14,4.42-14.67,9.52-17.69,7.43-4.38,19-2,26.79-.18,23.32,5.59,41.5,19.46,62,30.87m447,60-14-19h-1l10,24h-1l-15-19,13,28-36-41,24,47-40-43,17,40h-1l-34-40,19,44-37-41,12,29c-8.25-5.81-27.23-20.9-29.53-31-1.74-7.63,4.91-16.47,10.57-20.7,13.44-10,36.41-9.18,52-5.4,13.58,3.3,31.36,9.74,40.21,21.19,5.76,7.45,7.92,18.09,10.79,26.91m-45-28,1,1-1-1m-34,4,1,1-1-1m18,0,1,1-1-1m44,2,1,3h1l-2-3m-80,1,1,1-1-1m74,4,1,3h1l-2-3m-589,187c-2.56,11.16-11,30-4.06,40.9,3.39,5.37,10.43,5.65,16.06,6.38,14.54,1.89,29.49-2.14,44-3.28v1c-21,6-51.89,20.17-74,13.2-8.63-2.73-8.12-10.89-6.24-18.2,3.55-13.8,12.82-31.26,24.24-40Zm1484-1557c0,21.15-18,38.3-40.22,38.3s-40.22-17.15-40.22-38.3,18-38.3,40.22-38.3S1666.24,493.75,1666.24,514.9Z';
				const option = {
					backgroundColor: echarts.graphic.RadialGradient(0, 0, 1, [{
						offset: 0,
						color: '#06798c'
					}, {
						offset: 1,
						color: '#07162b'
					}]),
					title: {
						text: '牛气冲天',
						top: 100,
						left: 100,
						textStyle: {
							fontWeight: 'normal',
							fontSize: 40,
							color: '#fff',
							fontFamily: 'STXinwei',
							textShadowColor: '#c30d23',
							textShadowBlur: '2',
							textShadowOffsetX: 1,
							textShadowOffsetY: 3,
						}
					},
					grid: {
						left: '80%',
						top: '42%',
						bottom: 100
					},
					xAxis: {
						show: false,
						data: ['2017']
					},
					yAxis: {
						show: false,
					},
					series: [
						{
							type: 'liquidFill',
							data: [0.7, 0.8, 0.75, 0.21, 0.2, 0.13, 0.1, ],
							radius: '90%',
							waveLength: '90%',
							waveHeight: '10',
							amplitude: 10,
							z:2,
							outline: {
								show: false
							},
							backgroundStyle: {
								color: new echarts.graphic.LinearGradient(1, 0, 0, 0, [{
									offset: 0,
									color: "#1afae8"
								},
									{
										offset: 0.3,
										color: "#007771"
									},
									{
										offset: 0.6,
										color: "#27AEFA"
									},
									{
										offset: 1,
										color: "#4D8AFF"
									}
								]),
								borderColor: new echarts.graphic.LinearGradient(1, 0, .3, 1, [{
									offset: 0,
									color: '#5dfff8'
								}, {
									offset: 0.3,
									color: '#33ffe6'
								}, {
									offset: 0.5,
									color: '#049a8c'
								}, {
									offset: 1,
									color: '#f63469'
								}]),
								borderWidth: 1,
								shadowColor: '#040b17',
								shadowOffsetX: -5,
								shadowOffsetY: 5,
								shadowBlur: 5
							},
							shape: path,
							color: new echarts.graphic.LinearGradient(1, 0, .23, 1, [{
								offset: 0,
								color: '#FDD43F'
							}, {
								offset: 0.3,
								color: '#33ffe6'
							}, {
								offset: 0.5,
								color: '#049a8c'
							}, {
								offset: 1,
								color: '#f63469'
							}]),
							label: {
								normal: {
									formatter: '',
								}
							}
						},
						{
							name: '',
							type: "effectScatter",
							rippleEffect: {
								period: 10,
								scale: 12,
								brushType: 'stroke',
								color: new echarts.graphic.LinearGradient(1, 0, .3, 1, [{
									offset: 0,
									color: 'rgba(93, 255, 248, .3)',
								}, {
									offset: 0.3,
									color: 'rgba(51, 255, 230, .3)',
								}, {
									offset: 0.5,
									color: 'rgba(4, 154, 140, .3)',
								}, {
									offset: 1,
									color: 'rgba(246, 52, 105, .3)',
								}]),
							},
							z: 0,
							symbolPosition: 'end',
							symbol: path,
							"symbolSize": [80, 100],
							"symbolOffset": [0, -9],
							itemStyle: {
								normal: {
									color: 'rgba(0, 0, 0, 0)',
								}
							},
							data: [0]
						},
					]

				};
				myChart.setOption(option);
			};
			onMounted(() => {
				echartInit();
			});
			return {
				echartInit
			}
		}
	}
</script>

<style scoped>

</style>