<template>
	<div class="blob">
		<h2>
			<a href="https://mp.weixin.qq.com/s/4Y83axs0ERfpukgMMOFkLg" target="_blank">
				8个工程必备的JavaScript代码片段
			</a>
		</h2>
		<h3>1. 获取文件后缀名</h3>
		<pre v-highlight><code>export function getExt(filename) {
	if (typeof filename == 'string') {
		return filename.split('.').pop().toLowerCase()
	} else {
		throw new Error('filename must be a string type')
	}
}</code></pre>
		<h3>使用方法</h3>
		<PreCode>getExt("1.mp4") //->mp4</PreCode>

		<h3>2. 复制内容到剪贴板</h3>
		<pre v-highlight><code>export function copyToBoard(value) {
    const element = document.createElement('textarea')
    document.body.appendChild(element)
    element.value = value
    element.select()
    if (document.execCommand('copy')) {
        document.execCommand('copy')
        document.body.removeChild(element)
        return true
    }
    document.body.removeChild(element)
    return false
}</code></pre>
		<h3>使用方法</h3>
		<PreCode>copyToBoard('lalallala') //如果复制成功返回true </PreCode>

		<h3>3. 休眠多少毫秒</h3>
		<pre v-highlight><code>export function sleep(ms) {
    return new Promise(resolve => setTimeout(resolve, ms))
}</code></pre>
		<h3>使用方法</h3>
		<PreCode>const fetchData=async()=>{
			await sleep(1000)
			}</PreCode>

		<h3>4. 生成随机字符串</h3>
		<pre v-highlight><code>export function uuid(length, chars) {
    chars =
        chars ||
        '0123456789abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ'
    length = length || 8
    var result = ''
    for (var i = length; i > 0; --i)
        result += chars[Math.floor(Math.random() * chars.length)]
    return result
}</code></pre>
		<h3>使用方法</h3>
		<PreCode>uuid() //第一个参数指定位数，第二个字符串指定字符，都是可选参数，如果都不传，默认生成8位</PreCode>

		<h3>5. 简单的深拷贝</h3>
		<pre v-highlight><code>export function deepCopy(obj) {
    if (typeof obj != 'object') {
        return obj
    }
    if (obj == null) {
        return obj
    }
    return JSON.parse(JSON.stringify(obj))
}</code></pre>
		<h3>使用方法</h3>
		<PreCode>const person={name:'xiaoming',child:{name:'Jack'}}; deepCopy(person); //new person</PreCode>

		<h3>6. 数组去重</h3>
		<pre v-highlight><code>export function uniqueArray(arr) {
    if (!Array.isArray(arr)) {
        throw new Error('The first parameter must be an array')
    }
    if (arr.length == 1) {
        return arr
    }
    return [...new Set(arr)]
}</code></pre>
		<h3>使用方法</h3>
		<PreCode>uniqueArray([1,1,1,1,1]) //[1]</PreCode>

		<h3>7. 对象转化为FormData对象</h3>
		<pre v-highlight><code>export function getFormData(object) {
    const formData = new FormData()
    Object.keys(object).forEach(key => {
        const value = object[key]
        if (Array.isArray(value)) {
            value.forEach((subValue, i) =>
                formData.append(key + `[${i}]`, subValue)
            )
        } else {
            formData.append(key, object[key])
        }
    })
    return formData
}</code></pre>
		<h3>使用方法</h3>
		<pre v-highlight><code>let req={
    file:xxx,
    userId:1,
    phone:'15198763636',
    //...
}
fetch(getFormData(req))</code></pre>


		<h3>8.保留到小数点以后n位</h3>
		<pre v-highlight><code>export function cutNumber(number, no = 2) {
    if (typeof number != 'number') {
        number = Number(number)
    }
    return Number(number.toFixed(no))
}</code></pre>
		<h3>使用方法</h3>
		<PreCode>JS的浮点数超长，有时候页面显示时需要保留2位小数</PreCode>
	</div>
</template>

<script>
	export default {
		name: "8JavaScript"
	}
</script>

<style scoped>

</style>