<template>
	<div class="blob">
		<h2>
			<a href="https://mp.weixin.qq.com/s/1n6pNGQI-efWKKlSGy6EIw" target="_blank">
				Code-Review之前端代码优化汇总
			</a>
		</h2>
		<div>
			<h2>if 判断的优化</h2>
			<h3>1. 最简单的方法：if 判断</h3>
			<pre v-highlight><code>let commodity = {
  phone: '手机',
  computer: '电脑',
  television: '电视',
  gameBoy: '游戏机',
}

function price(name) {
  if (name === commodity.phone) {
    console.log(1999)
  } else if (name === commodity.computer) {
    console.log(9999)
  } else if (name === commodity.television) {
    console.log(2999)
  } else if (name === commodity.gameBoy) {
    console.log(3999)
  }
}
price('手机') // 9999</code></pre>
			<h3>缺点：代码太长了,维护和阅读都很不友好</h3>

			<h3>2. 好一点的方法：Switch</h3>
			<pre v-highlight><code>let commodity = {
  phone: '手机',
  computer: '电脑',
  television: '电视',
  gameBoy: '游戏机',
}
const price = (name) => {
  switch (name) {
    case commodity.phone:
      console.log(1999)
      break
    case commodity.computer:
      console.log(9999)
      break
    case commodity.television:
      console.log(2999)
      break
    case commodity.gameBoy:
      console.log(3999)
      break
  }
}
price('手机') // 9999</code></pre>

			<h3>3. 更优的方法: 策略模式</h3>
			<pre v-highlight><code>const commodity = new Map([
  ['phone', 1999],
  ['computer', 9999],
  ['television', 2999],
  ['gameBoy', 3999],
])

const price = (name) => {
  return commodity.get(name)
}
price('phone') // 1999</code></pre>
		</div>

		<div>
			<h2>includes 的优化</h2>
			<h3>1. 传统方法</h3>
			<pre v-highlight><code>function verifyIdentity(identityId) {
  if (identityId == 1 || identityId == 2 || identityId == 3 || identityId == 4) {
    return '你的身份合法，请通行！'
  } else {
    return '你的身份不合法'
  }
}</code></pre>

			<h3>2. includes 优化</h3>
			<pre v-highlight><code>function verifyIdentity(identityId) {
  if ([1, 2, 3, 4].includes(identityId)) {
    return '你的身份合法，请通行！'
  } else {
    return '你的身份不合法'
  }
}</code></pre>

		</div>

		<div>
			<h2>CSS属性的书写顺序</h2>
			<pre v-highlight><code>影响文档流的属性（比如：display, position, float, clear, visibility, table-layout等）
自身盒模型的属性（比如：width, height, margin, padding, border等）
排版相关属性（比如：font, line-height, text-align, text-indent, vertical-align等等）
装饰性属性（比如：color, background, opacity, cursor等）
生成内容的属性（比如：content, list-style, quotes等）</code></pre>
		</div>
	</div>
</template>

<script>
	export default {
		name: "CodeReview"
	}
</script>

<style scoped>

</style>