<template>
  <div>
    <mobile v-if="isMobile"></mobile>
  </div>
</template>

<script>
  import {useStore} from "vuex";
  import mobile from './mobile/index.vue'
  export default {
    components: {
      mobile,
    },
    setup() {
      const store = useStore()
      console.log(store.state.isMobile)
      let isMobile = store.state.isMobile
      return {
        isMobile
      }
    }
  }
</script>

<style lang="scss" scoped>

</style>