<!--
 * @Author: YinXuan
 * @Date: 2022-01-30 21:48:57
 * @LastEditTime: 2023-02-15 16:06:52
 * @Description: 
-->
<template>
	<div class="home">
		<HomeWeb />
	</div>

</template>

<script>
	import { defineComponent, ref } from 'vue';
	import { useRouter } from 'vue-router';
	import { useStore } from "vuex";
	import { getJpgSrc } from "../utils/common.js"
	import HomeWeb from "./home/HomeWeb.vue";
	export default {
		data() {
			return {

			}
		},
		components: {
			HomeWeb
		},
		setup() {
			const router = useRouter();
			const store = useStore();
			const routeView = path => {
				store.commit("addCount");
				router.push(path);
			};
			return {
				getJpgSrc,
				routeView,
			};
		},

	}
</script>
<style lang="scss" scoped>
</style>