
// 自定义class属性
@for $i from 1 through 1000 {
  .mt#{$i} {
    margin-top: #{$i}px !important;
  }
  .mr#{$i} {
    margin-right: #{$i}px !important;
  }
  .mb#{$i} {
    margin-bottom: #{$i}px !important;
  }
  .ml#{$i} {
    margin-left: #{$i}px !important;
  }
  .mh#{$i} {
    margin-left: #{$i}px !important;
    margin-right: #{$i}px !important;
  }
  .mv#{$i} {
    margin-top: #{$i}px !important;
    margin-bottom: #{$i}px !important;
  }
}
@for $i from 1 through 1000 {
  .pt#{$i} {
    padding-top: #{$i}px !important;
  }
  .pr#{$i} {
    padding-right: #{$i}px !important;
  }
  .pb#{$i} {
    padding-bottom: #{$i}px !important;
  }
  .pl#{$i} {
    padding-left: #{$i}px !important;
  }
  .ph#{$i} {
    padding-left: #{$i}px !important;
    padding-right: #{$i}px !important;
  }
  .pv#{$i} {
    padding-top: #{$i}px !important;
    padding-bottom: #{$i}px !important;
  }
}

@mixin align-items($type: center) {
  align-items: $type;
}
@mixin justify-content($type: center) {
  justify-content: $type;
}
%display-flex {
  display: flex;
}

.flex {
  @extend %display-flex;
}

.flex-row {
  flex-direction: row;
}

.flex-column {
  flex-direction: column;
}

@for $i from 1 through 1000 {
  .flex#{$i} {
    flex: #{$i};
  }
}
.flex-center {
  @extend %display-flex;
  justify-content: center;
  align-items: center;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.align-start {
  @include align-items(flex-start);
}

.align-end {
  @include align-items(flex-end);
}

.align-center {
  @include align-items(center);
}

.align-stretch {
  @include align-items(stretch);
}

.align-baseline {
  @include align-items(baseline);
}

.self-start {
  @include align-items(flex-start);
}

.self-center {
  @include align-items(flex-center);
}

.self-end {
  @include align-items(flex-end);
}

.self-stretch {
  @include align-items(stretch);
}

.align-stretch {
  @include align-items(stretch);
}

.justify-start {
  @include justify-content(flex-start);
}

.justify-end {
  @include justify-content(flex-end);
}

.justify-center {
  @include justify-content(center);
}

.justify-between {
  @include justify-content(space-between);
}

.justify-around {
  @include justify-content(space-around);
}

.justify-evenly {
  @include justify-content(space-evenly);
}

.flex-wrap {
  flex-wrap: wrap;
}

/* 在文字超出内容盒子时，
分别只显示一行、两行、三行、四行、五行+省略号 */
.line-1 {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.line-2 {
  -webkit-line-clamp: 2;
}

.line-3 {
  -webkit-line-clamp: 3;
}

.line-4 {
  -webkit-line-clamp: 4;
}

.line-5 {
  -webkit-line-clamp: 5;
}

.line-2, .line-3, .line-4, .line-5 {
  overflow: hidden;
  word-break: break-all;
  text-overflow: ellipsis;
  display: -webkit-box; // 弹性伸缩盒
  -webkit-box-orient: vertical; // 设置伸缩盒子元素排列方式
}