
.status-bar-height {
  width: 100%;
  height: var(--status-bar-height);
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  width: 6px;
  background: rgba(#101F1C, 0.1);
  -webkit-border-radius: 2em;
  -moz-border-radius: 2em;
  border-radius: 2em;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(#101F1C, 0.5);
  background-clip: padding-box;
  min-height: 28px;
  -webkit-border-radius: 2em;
  -moz-border-radius: 2em;
  border-radius: 2em;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(#101F1C, 1);
}

.container {
  padding: 60px 40px 100px !important;
}


h1,h2 {
  padding: 20px 0 15px !important;
}
h1, h2, h3, h4, h5, h6 {
  color: #262a30 !important;
  font-weight: 700 !important;
  line-height: 1.5 !important;
}

.blob p {
  color: #333;
  line-height: 1.7rem;
  margin: 0 0 8px;
  text-indent: 2em;
}

.music p {
  color: #333;
  line-height: 1.7rem;
  margin: 0 0 8px;
}

#blogId {
  margin: 0 auto;
  height: auto;
  width: inherit;
  word-break: normal;
  word-wrap: break-word;
  position: relative;
  white-space: normal;
  overflow-x: visible;
  background: #fcfcfc;
  font-family: Overpass, "GlowSansSC", "Helvetica Neue", "pingfang sc", "microsoft yahei", sans-serif;
  font-weight: 400;
  line-height: 1.6rem;
  -webkit-text-size-adjust: 100%;
}

#musicId {
  margin: 0 auto;
  width: inherit;
  height: 100vh;
  word-break: normal;
  word-wrap: break-word;
  position: relative;
  white-space: normal;
  overflow-x: visible;
  background: #fcfcfc;
  font-family: Overpass, "GlowSansSC", "Helvetica Neue", "pingfang sc", "microsoft yahei", sans-serif;
  font-weight: 400;
  line-height: 1.6rem;
  -webkit-text-size-adjust: 100%;
}

.music-content {
  height: calc(100vh - 170px);
  padding: 30px 0 50px;
  overflow-y: scroll;
}
// 隐藏烦人的滚动条
.music-content::-webkit-scrollbar {
  display: none; /* Chrome Safari */
}

.music-content {
  scrollbar-width: none; /* firefox */
  -ms-overflow-style: none; /* IE 10+ */
  overflow-x: hidden;
  overflow-y: auto;
}

.music-cell {
  @media(min-width: 600px) {
    min-width: 340px;
  }
}

.blob a {
  color: inherit;
  text-decoration: inherit;
  display: inline-block;
  position: relative;
  &:hover {
    color: #17a2b8;
  }
}
.blob a:after {
  content: '';
  display: block;
  position: absolute;
  bottom: 2px;
  left: 6px;
  background-color: rgba(183, 28, 28, var(--tw-bg-opacity)) !important;
  --tw-bg-opacity: 0.25;
  height: 0.5rem;
  width: 100%;
}

.choose-button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgba(0,0,0,0.8);
  color: white;
  opacity: 0.8;
  font-size: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
}