<template>
  <div class="music">
    <a-affix :offset-top="1">
      <h2>成名在望 - 五月天 (Eason Chan)</h2>
      <audio ref="audio" :src="songUrl" controls>您的浏览器不支持音频播放</audio>
    </a-affix>
    <div class="music-content flex" ref="containerRef">
      <div class="music-cell">
        <p>词：陈信宏</p>
        <p>曲：陈信宏</p>
        <p>编曲：Skot Suyama 陶山</p>
        <p>找一个和弦开始唱</p>
        <p>那故事遗忘的时光</p>
        <p>起点是那平凡的成长</p>
        <p>或初学吉他时 少年们的模样</p>
        <p>那一年的舞台 没掌声 没聚光</p>
        <p>只有盆地边缘 不认输 的倔强</p>
        <p>排练室的日夜 在争论 在激荡</p>
        <p>以音量去吞噬 无退路 的彷徨</p>
        <p>那黑的终点可有光</p>
        <p>那夜的尽头可会亮</p>
        <p>那成名在望 会有希望</p>
        <p>或者是 无知的狂妄</p>
        <p>那又会怎么样 那又会怎么样</p>
        <p>混迹过酒场的驻唱</p>
        <p>才读懂人性的寻常</p>
        <p>背负过音乐节的重量</p>
        <p>才体会每场仗 都仰赖 枪与粮</p>
        <p>梦是把热血和 汗与泪 熬成汤</p>
        <p>浇灌在干涸的 贫瘠的 现实上</p>
        <p>当日常的重量 让我们 不反抗</p>
        <p>倒地后才发现 荒地上</p>
        <p>渺茫 希望 绽放</p>
        <p>穿过了 摇滚或糖霜</p>
        <p>昧俗或理想 批判或传唱 道路上</p>
        <p>只能看远方 最远的地方</p>
        <p>应许的他方 不停冲撞</p>
        <p>看过多少脸庞 飞过多少异乡</p>
        <p>少年早已苍茫</p>
        <p>少年早已苍茫</p>
        <p>回头望 回头望 我在何方</p>
        <p>一站又一站的流浪 那旅馆和空港</p>
        <p>一遍又一遍的采访 和攻防</p>
        <p>一双又一双的目光 像监狱和高墙</p>
        <p>墙里的风光是不是 如当初想像</p>
        <p>那黑的终点可有光</p>
        <p>那夜的尽头可会亮</p>
        <p>那成名在望是否风光</p>
        <p>或者是 疯狂的火光</p>
        <p>那又该怎么样 那又能怎么样</p>
        <p>While we were so young</p>
        <p>我梦到当时 我们翻过墙</p>
        <p>曼陀罗花 沿途绽放</p>
        <p>我们光脚越过人间荒唐</p>
        <p>We're stupid but strong</p>
        <p>放学的屋顶 像万人广场</p>
        <p>从不多想 只是信仰</p>
        <p>少年回头望 笑我还不快跟上</p>
        <p>那路的起点谁能忘</p>
        <p>那路的尽头谁在唱</p>
        <p>谁成名在望 谁曾失望</p>
        <p>却更多 的谁在盼望</p>
        <p>那黑的终点可有光</p>
        <p>那夜的尽头天将亮</p>
        <p>那成名在望 无关真相</p>
        <p>如果你 心始终信仰 谁又能怎样</p>
        <p>谁又能怎样 你就能飞翔</p>
        <p>你就能飞翔 你就能飞翔</p>
      </div>
      <a-affix :target="() => containerRef" :offset-top="100"
               v-if="!store.state.isMobile">
        <a-image
            :src="getCommonImg('plate')"
            :preview="false"
            :width="500"
        />
      </a-affix>
    </div>

  </div>
</template>

<script>
import {ref} from 'vue'
import { useStore } from "vuex";
import {getMusicUrl, getCommonImg} from "../../../utils/music/music"
export default {
  setup() {
    const songUrl = getMusicUrl('Mayday_ChengMingZaiWang');
    const containerRef = ref();
    const store = useStore();
    return {
      songUrl,
      getCommonImg,
      containerRef,
      store,
    }
  }
}
</script>

<style lang="scss" scoped>
.music {
  .music-content {
    :deep(.ant-image-img) {
      animation: rotate  20s linear infinite;
      &:hover{
        animation-play-state: paused;
      }
    }
    @keyframes rotate {
      0%{transform: rotate(0);}
      100%{transform: rotate(360deg);}
    }
  }
}
</style>