<template>
	<div class="blog flex flex-row">
		<div v-if="!store.state.isMobile" class="nav">
			<navLink />
		</div>
		<div class="content" id="blogId" ref="blogRef">
			<div id="Guide" class="pt10">
				<a-image
					:src="url"
					:preview="false"
				/>
				<h1>前言</h1>
				<p>读者好，我是 胤炫, 这里是我的个人空间，如果有缘来到这里，希望这里的东西能给你一些帮助～</p>
				<p>(ps：虽然此博客支持手机版，不过电脑版展示效果更好哦~)</p>
			</div>
			<div id="2021">
				<h1>2021 随笔</h1>
				<div id="M12">
					<M12 />
				</div>
			</div>
			<div id="Note1">
				<Note1 />
			</div>
			<div id="blog">
				<h1>精选文章</h1>
				<div id="8JavaScript">
					<blog_8javascript />
				</div>
				<div id="CodeReview">
					<blog_codeReview />
				</div>
			</div>

			<div v-if="store.state.isMobile" class="flex justify-center">
				<a-affix :target="() => blogRef" :style="{ position: 'fixed', bottom: '30px'}"
								 @click="showDrawer">
					<div class="choose-button">
						B
					</div>
				</a-affix>
			</div>
		</div>

		<!--手机端选择歌曲弹窗-->
		<a-drawer
			placement="left"
			:closable="false"
			:visible="visible"
			@close="onClose"
			width="100vw"
		>
			<div class="nav" ref="navRef">
				<a-affix :target="() => navRef" :style="{ position: 'absolute', top: '0', right: '30px'}" @click="onClose">
					<CloseCircleOutlined :style="{fontSize: '26px', color: '#dc3545'}"/>
				</a-affix>
				<div class="nav-title">
					<h1 class="text-center">Blog Square</h1>
					<navLink @handle="handleAnchorClick"/>
				</div>
			</div>
		</a-drawer>
		<a-back-top @click="backTop" />
	</div>
</template>

<script>
	import { ref } from 'vue'
	import navLink from "./components/navLink.vue";
	import blog_8javascript from './lists/8JavaScript.vue'
	import blog_codeReview from './lists/CodeReview.vue'
	import M12 from './Y2021/M12/index.vue'
	import Note1 from './Note1/index.vue'
	import {useStore} from "vuex";
	export default {
		data() {
			return {
				url: "https://tva2.sinaimg.cn/large/006K89bWgy1gx3vb80q0tj30go0p0h4o.jpg",
			}
		},
		components: {
			navLink,
			blog_8javascript,
			blog_codeReview,
			M12,
			Note1,
		},
		setup() {
			const store = useStore();
			const visible = ref(false);
			const chooseLink = ref('Guide');
			const backTop = () => {
				chooseLink.value = "Guide"
			};
			const blogRef = ref();
			const navRef = ref();
			const showDrawer = () => {
				visible.value = true;
			};
			const onClose = () => {
				visible.value = false;
			};
			const handleAnchorClick = (res) => {
				visible.value = res;
			};
			return {
				store,
				backTop,
				blogRef,
				navRef,
				visible,
				handleAnchorClick,
				showDrawer,
				onClose,
			};
		},
	};
</script>

<style lang="scss" scoped>
	.blog {
		padding-left: 30px;
		padding-right: 30px;
		color: #333;
		font-size: 16px;
		background: #fcfcfc;
		font-family: Overpass, "GlowSansSC", "Helvetica Neue", "pingfang sc", "microsoft yahei", sans-serif;
		font-weight: 400;
		line-height: 1.15;
		-webkit-text-size-adjust: 100%;
		.nav {
			width: 300px;
			font-size: 0.8rem;
			margin-top: 80px;
			margin-right: 18px;
		}
		@media(max-width: 600px) {
			.nav {
				display: none;
			}
		}
		.content {
			position: relative;
			font-size: 14px !important;
			max-width: 914px;
			text-align: justify;
			--webkit-flex: 2;
			flex: 2 1 0%;
		}

		// 隐藏烦人的滚动条
		.content::-webkit-scrollbar {
			display: none; /* Chrome Safari */
		}

		.content {
			scrollbar-width: none; /* firefox */
			-ms-overflow-style: none; /* IE 10+ */
			overflow-x: hidden;
			overflow-y: auto;
		}
	}
</style>