<!--
 * @Author: YinXuan
 * @Date: 2022-01-30 21:48:57
 * @LastEditTime: 2023-12-27 10:31:39
 * @Description: 
-->
<template>
	<div class="flex animated zoomIn">
		<div class="card-view flex1 mr20" v-for="(item, index) in pathList" :key="index">
			<div class="card-view-img" @mouseover="direction = 'left'" @mouseleave="direction = 'right'" @click="routeView(item.path)">
				<a-image :src="getCardSrc(item.imgName)" :preview="false" />
				<div class="card-view-name">
					{{ item.name }}
				</div>
			</div>
		</div>
	</div>
</template>

<script>
import { ref } from 'vue';
import { useRouter } from 'vue-router';
import { getCardSrc } from '../../../utils/common.js';
const pathList = [
	{
		name: 'Blog',
		path: '/blog',
		imgName: 'balland',
	},
	{
		name: 'Funny',
		path: '/nba',
		imgName: 'brady',
	},
	{
		name: 'Music',
		path: '/music',
		imgName: 'reding',
	},
	{
		name: 'Home',
		path: '/index',
		imgName: 'pexels',
	},
];
export default {
	setup() {
		const direction = ref('left');
		const router = useRouter();
		const routeView = (path) => {
			router.push(path);
		};
		return {
			direction,
			pathList,
			getCardSrc,
			routeView,
		};
	},
};
</script>

<style lang="scss" scoped>
.card-view {
	width: 300px;
	height: 500px;
	word-break: break-word;
	background-color: white;
	border-radius: 18px;
	transition: all 0.5s ease-in;
	.card-view-img {
		position: relative;
		text-align: center;
		:deep(.ant-image-img) {
			border-radius: 18px;
			height: 500px;
		}
		.card-view-name {
			font-size: 28px;
			font-weight: 600;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%); /* 50%为自身尺寸的一半 */
			-webkit-transform: translate(-50%, -50%);
			z-index: 11;
			margin-top: -80px;
			color: white;
			text-shadow: 0 0 10px #17a2b8, 0 0 20px #17a2b8, 0 0 30px #17a2b8, 0 0 40px #17a2b8;
		}
	}

	&:hover {
		transform: translateY(-60px);
		transition: all 0.5s ease-in-out;
	}
}
</style>
