<template>
  <div
      class="tabs-bar"
      :style="{
        'grid-template-columns': listLength
      }"
  >
    <div
        v-for="(item,index) in tabsList"
        :key="item"
        class="block"
        :class="current === index ? 'active' : '' "
        @click="chooseTab(index)"
    >
      {{item.name}}
    </div>
    <div class="nav-line" :style="{left: X+'px',transform : 'translateX(-50%)'}"></div>
  </div>

</template>

<script>
export default {
  name: "TabsBar",
  data() {
    return {
      current: 0,
      X: 0,
    }
  },
  props: {
    tabsList: {
      type: Object,
      require: true,
      default: []
    }
  },
  computed: {
    listLength() {
      let res = "";
      let tabsList = this.tabsList
      tabsList.forEach(item => {
        res += "1fr "
      })
      return res;
    },
  },
  methods: {
    chooseTab(index) {
      this.current = index
      this.lineMove()
    },
    // 计算下划线应该移动的距离
    lineMove() {
      // 导航栏的宽度,因为是100%所以就是屏幕宽度
      let width = document.body.clientWidth;
      // 每个选项栏的宽度 = 导航栏宽度/选项个数
      let divWidth = width / this.tabsList.length;
      // 半个选项栏宽度
      let halfDivWidth = divWidth / 2;
      // 下划线移动的距离 = 半个选项栏宽度 + (单个选项栏宽度*当前index)
      this.X = halfDivWidth + divWidth * this.current;
    }
  },
  created() {
    this.lineMove()
  }
}
</script>

<style lang="scss" scoped>
.tabs-bar {
  display: grid;
  grid-gap: 8px;
  text-align: center;
  font-size: 14px;
  background-color: white;
  position: relative;
  .block {
    padding: 8px 2px;
    color: #5F7880;
    &.active {
      font-weight: bold;
    }
  }
  .nav-line {
    width: 30px;
    height: 4px;
    border-radius: 2px;
    background-color: #5F7880;
    position: absolute;
    bottom: 0;
    transition: 0.3s all;
  }
}

</style>