<template>
	<div>
		<a-button type="primary">啦啦啦</a-button>
		<a-button>Default Button</a-button>
		<a-button type="dashed">Dashed Button</a-button>
		<a-switch :checked="!loading" @change="onChange" />
		<a-date-picker v-model:value="value1" />
		<a-list item-layout="vertical" size="large" :data-source="listData">
			<template #renderItem="{ item }">
				<a-list-item key="item.title">
					<template v-if="!loading" #actions>
            <span v-for="{ type, text } in actions" :key="type">
              <component v-bind:is="type" style="margin-right: 8px"></component>
              {{ text }}
            </span>
					</template>
					<template #extra>
						<img
							v-if="!loading"
							width="272"
							alt="logo"
							src="https://gw.alipayobjects.com/zos/rmsportal/mqaQswcyDLcXyDKnZfES.png"
						/>
					</template>
					<a-skeleton :loading="loading" active avatar>
						<a-list-item-meta :description="item.description">
							<template #title>
								<a :href="item.href">{{ item.title }}</a>
							</template>
							<template #avatar><a-avatar :src="item.avatar" /></template>
						</a-list-item-meta>
						{{ item.content }}
					</a-skeleton>
				</a-list-item>
			</template>
		</a-list>
	</div>
</template>
<script>
	import { StarOutlined, LikeOutlined, MessageOutlined } from '@ant-design/icons-vue';
	import { defineComponent, ref } from 'vue';
	import dayjs from 'dayjs'
	const listData = [];

	for (let i = 0; i < 5; i++) {
		listData.push({
			href: 'https://www.antdv.com/',
			title: `ant design vue part ${i}`,
			avatar: 'https://zos.alipayobjects.com/rmsportal/ODTLcjxAfvqbxHnVXCYX.png',
			description:
				'Ant Design, a design language for background applications, is refined by Ant UED Team.',
			content:
				'We supply a series of design principles, practical patterns and high quality design resources (Sketch and Axure), to help people create their product prototypes beautifully and efficiently.',
		});
	}

	export default defineComponent({
		components: {
			StarOutlined,
			LikeOutlined,
			MessageOutlined,
		},

		setup() {
			const loading = ref(true);
			const date = ref(dayjs().format('YYYY-MM-DD'))
			console.log(date.value)
			const actions = [
				{
					type: 'star-outlined',
					text: '156',
				},
				{
					type: 'like-outlined',
					text: '156',
				},
				{
					type: 'message-outlined',
					text: '2',
				},
			];

			const onChange = checked => {
				loading.value = !checked;
			};

			return {
				value1: ref(),
				loading,
				listData,
				actions,
				onChange,
			};
		},
	});
</script>
<style scoped>
	.skeleton-demo {
		border: 1px solid #f4f4f4;
	}
</style>