<template>
  <div class="mobile-resume">
    <tabs-bar
        :tabsList="tabsList"
    ></tabs-bar>
    <div></div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      tabsList: [
        {
          "name": "个人资料"
        },
        {
          "name": "技术框架"
        },
        {
          "name": "工作经历"
        },
        {
          "name": "工作背景"
        },
        {
          "name": "兴趣爱好"
        },
      ]
    }
  }
}
</script>

<style lang="scss" scoped>
.mobile-resume {
  background-color: #D3D5D4;
  height: 100vh;
}
</style>
