<template>
	<div class="music">
		<a-affix :offset-top="1">
			<h2>科幻 - 许嵩</h2>
			<audio ref="audio" :src="songUrl" controls>您的浏览器不支持音频播放</audio>
		</a-affix>
		<div class="music-content flex" ref="containerRef">
			<div class="music-cell">
				<p>词：许嵩</p>
				<p>曲：许嵩</p>
				<p>制作人：许嵩</p>
				<p>编曲：Adam Lee</p>
				<p>母带处理：许嵩</p>
				<p>我坐在清晨五点沙滩</p>
				<p>沙滩停泊着宇宙飞船</p>
				<p>两名外星人围着篝火促膝长谈</p>
				<p>我也有过这种浪漫</p>
				<p>那是纬度趋零的海岸</p>
				<p>你我贫穷却富有愉快</p>
				<p>彼时创造了供此时回味的素材</p>
				<p>像眼前的潮 幽暗也澎湃</p>
				<p>你说 爱能有多勇敢</p>
				<p>天长地久或是离散 都不更改</p>
				<p>我说 爱会映射到天外</p>
				<p>我们把美满 托付科幻</p>
				<p>坍缩的独白 填补科幻</p>
				<p>篝火渐渐的微弱下来</p>
				<p>他们也渐渐沉默无话</p>
				<p>女孩起身跑进飞船神色很怅然</p>
				<p>男孩呆坐没有追赶</p>
				<p>她的升空用了七秒半</p>
				<p>转瞬就消失在了云端</p>
				<p>他朝着她的方向说出最后告白</p>
				<p>像天上的船 遨游我脑海</p>
				<p>你说 爱能有多慷慨</p>
				<p>天长地久或是离散 都不更改</p>
				<p>我说 爱会映射到天外</p>
				<p>你留的遗憾 托付科幻</p>
				<p>坍缩了伤感 抱紧科幻</p>
			</div>
			<a-affix :target="() => containerRef" :offset-top="100"
							 v-if="!store.state.isMobile">
				<a-image
					:src="getCommonImg('plate')"
					:preview="false"
					:width="500"
				/>
			</a-affix>
		</div>

	</div>
</template>

<script>
	import {ref} from 'vue'
	import { useStore } from "vuex";
	import {getMusicUrl, getCommonImg} from "../../../utils/music/music"
	export default {
		setup() {
			const songUrl = getMusicUrl('Vae_Science');
			const containerRef = ref();
			const store = useStore();
			return {
				songUrl,
				getCommonImg,
				containerRef,
				store,
			}
		}
	}
</script>

<style lang="scss" scoped>
	.music {
		.music-content {
			:deep(.ant-image-img) {
				animation: rotate  20s linear infinite;
				&:hover{
					animation-play-state: paused;
				}
			}
			@keyframes rotate {
				0%{transform: rotate(0);}
				100%{transform: rotate(360deg);}
			}
		}
	}
</style>