<template>
  <div class="music">
    <a-affix :offset-top="1">
      <h2>不要说话 - 陈奕迅 (Eason Chan)</h2>
      <audio ref="audio" :src="songUrl" controls>您的浏览器不支持音频播放</audio>
    </a-affix>
    <div class="music-content flex" ref="containerRef">
      <div class="music-cell">
        <p>词：小柯</p>
        <p>曲：小柯</p>
        <p>编曲：Mac Chew</p>
        <p>深色的海面铺满白色的月光</p>
        <p>我出神望着海心不知飞哪去</p>
        <p>听到她在告诉你</p>
        <p>说她真的喜欢你</p>
        <p>我不知该 躲哪里</p>
        <p>爱一个人是不是应该有默契</p>
        <p>我以为你懂得每当我看着你</p>
        <p>我藏起来的秘密</p>
        <p>在每一天清晨里</p>
        <p>暖成咖啡 安静的拿给你</p>
        <p>愿意 用一支黑色的铅笔</p>
        <p>画一出沉默舞台剧</p>
        <p>灯光再亮也抱住你</p>
        <p>愿意 在角落唱沙哑的歌</p>
        <p>再大声也都是给你</p>
        <p>请用心听 不要说话</p>
        <p>爱一个人是不是应该有默契</p>
        <p>我以为你懂得每当我看着你</p>
        <p>我藏起来的秘密</p>
        <p>在每一天清晨里</p>
        <p>暖成咖啡 安静的拿给你</p>
        <p>愿意 用一支黑色的铅笔</p>
        <p>画一出沉默舞台剧</p>
        <p>灯光再亮也抱住你</p>
        <p>愿意在角落唱沙哑的歌</p>
        <p>再大声也都是给你</p>
        <p>请用心听 不要说话</p>
        <p>愿意 用一支黑色的铅笔</p>
        <p>画一出沉默舞台剧</p>
        <p>灯光再亮也抱住你</p>
        <p>愿意 在角落唱沙哑的歌</p>
        <p>再大声也都是给你</p>
        <p>请原谅我 不会说话</p>
        <p>愿意 用一支黑色的铅笔</p>
        <p>画一出沉默舞台剧</p>
        <p>灯光再亮也抱住你</p>
        <p>愿意 在角落唱沙哑的歌</p>
        <p>再大声也都是给你</p>
        <p>爱是用心吗 不要说话</p>
      </div>
      <a-affix :target="() => containerRef" :offset-top="100"
               v-if="!store.state.isMobile">
        <a-image
            :src="getCommonImg('plate')"
            :preview="false"
            :width="500"
        />
      </a-affix>
    </div>

  </div>
</template>

<script>
import {ref} from 'vue'
import { useStore } from "vuex";
import {getMusicUrl, getCommonImg} from "../../../utils/music/music"
export default {
  setup() {
    const songUrl = getMusicUrl('Eason_BuYaoShuoHua');
    const containerRef = ref();
    const store = useStore();
    return {
      songUrl,
      getCommonImg,
      containerRef,
      store,
    }
  }
}
</script>

<style lang="scss" scoped>
.music {
  .music-content {
    :deep(.ant-image-img) {
      animation: rotate  20s linear infinite;
      &:hover{
        animation-play-state: paused;
      }
    }
    @keyframes rotate {
      0%{transform: rotate(0);}
      100%{transform: rotate(360deg);}
    }
  }
}
</style>