<template>
	<div class="music">
		<a-affix :offset-top="1">
			<h2>对不起 谢谢 - 陈奕迅 (Eason Chan)</h2>
			<audio ref="audio" :src="songUrl" controls>您的浏览器不支持音频播放</audio>
		</a-affix>
		<div class="music-content flex" ref="containerRef">
			<div class="music-cell">
				<p>词：Skot Suyama</p>
				<p>曲：Skot Suyama</p>
				<p>编曲：刘志远</p>
				<p>纯白无瑕 温柔芬芳</p>
				<p>你洗的衣服 有你的模样</p>
				<p>满身是汗 脱了又穿</p>
				<p>你常笑我脏 男人难免啊</p>
				<p>那种稀松平常的对白 已不再</p>
				<p>我爱你 好爱你</p>
				<p>对不起 谢谢</p>
				<p>套上手中那只戒</p>
				<p>我恨你 好恨你</p>
				<p>对不起 谢谢</p>
				<p>嘲笑我有多狼狈</p>
				<p>你的善良 我的倔强</p>
				<p>我们的小孩 会像谁模样</p>
				<p>常常在想 几年之外</p>
				<p>长睫毛女孩 单眼皮男孩</p>
				<p>曾经近在咫尺的未来 已天涯</p>
				<p>我爱你 好爱你</p>
				<p>对不起 谢谢</p>
				<p>脑中住着你的脸</p>
				<p>我恨你 好恨你</p>
				<p>对不起 谢谢</p>
				<p>孤独刺着我的背</p>
				<p>我爱你 好爱你</p>
				<p>对不起 谢谢</p>
				<p>脑中住着你的脸</p>
				<p>我恨你 好恨你</p>
				<p>对不起 谢谢</p>
				<p>孤独刺着我的背</p>
			</div>
			<a-affix :target="() => containerRef" :offset-top="100"
							 v-if="!store.state.isMobile">
				<a-image
					:src="getCommonImg('plate')"
					:preview="false"
					:width="500"
				/>
			</a-affix>
		</div>

	</div>
</template>

<script>
	import {ref} from 'vue'
	import { useStore } from "vuex";
	import {getMusicUrl, getCommonImg} from "../../../utils/music/music"
	export default {
		setup() {
			const songUrl = getMusicUrl('Eason_Sorry');
			const containerRef = ref();
			const store = useStore();
			return {
				songUrl,
				getCommonImg,
				containerRef,
				store,
			}
		}
	}
</script>

<style lang="scss" scoped>
	.music {
		.music-content {
			:deep(.ant-image-img) {
				animation: rotate  20s linear infinite;
				&:hover{
					animation-play-state: paused;
				}
			}
			@keyframes rotate {
				0%{transform: rotate(0);}
				100%{transform: rotate(360deg);}
			}
		}
	}
</style>