<template>
	<div class="music">
		<a-affix :offset-top="1">
			<h2>白色球鞋 - 陈奕迅 (Eason Chan)</h2>
			<audio ref="audio" :src="songUrl" controls>您的浏览器不支持音频播放</audio>
		</a-affix>
		<div class="music-content flex" ref="containerRef">
			<div class="music-cell">
				<p>到一定年纪 总算明白</p>
				<p>美好的事物</p>
				<p>好像大部分都在青春时候发生</p>
				<p>那天无意中翻出了那双发黄的白色球鞋</p>
				<p>依然还有 心跳温度</p>
				<p>和她一起走过这城市许多的路</p>
				<p>她总低着头 听我的梦和心事</p>
				<p>那一天笑着 对我说</p>
				<p>随我的白球鞋的脚步 好像可以走到幸福</p>
				<p>忽然她让我感觉</p>
				<p>自己已不再孤独</p>
				<p>可以在未知的明天去天竺</p>
				<p>美好青春的爱情 和曾经走过的路</p>
				<p>年轻城市 换成另一种面目</p>
				<p>如今大了 那样感动难重复</p>
				<p>幸福和那双球鞋 放记忆最深处</p>
				<p>这保留却又忘了的初恋纪念物</p>
				<p>在经历几次恋爱后重新回顾</p>
				<p>爱还依然清晰在梦中</p>
				<p>让当时的街灯和书</p>
				<p>有许多已不知去处</p>
				<p>想起来我然感觉 曾经自己不孤独</p>
				<p>你是否已走到你要的幸福</p>
				<p>美好青春的爱情 和曾经走过的路</p>
				<p>年轻城市 换成另一种面目</p>
				<p>如今大了 那样感动难重复</p>
				<p>幸福和那双球鞋 放记忆最深处</p>
				<p>当年的我还懂保留失落的爱情遗物</p>
				<p>究其爱情现在想起来却面目模糊</p>
				<p>却相信去感触</p>
				<p>美好青春的爱情 和曾经走过的路</p>
				<p>年轻城市 换成另一种面目</p>
				<p>如今大了 那样感动难重复</p>
				<p>幸福和那双球鞋 放记忆最深处</p>
			</div>
			<a-affix :target="() => containerRef" :offset-top="100"
							 v-if="!store.state.isMobile">
				<a-image
					:src="getCommonImg('plate')"
					:preview="false"
					:width="500"
				/>
			</a-affix>
		</div>

	</div>
</template>

<script>
	import {ref} from 'vue'
	import { useStore } from "vuex";
	import {getMusicUrl, getCommonImg} from "../../../utils/music/music"
	export default {
		setup() {
			const songUrl = getMusicUrl('Eason_QiuXie');
			const containerRef = ref();
			const store = useStore();
			return {
				songUrl,
				getCommonImg,
				containerRef,
				store,
			}
		}
	}
</script>

<style lang="scss" scoped>
	.music {
		.music-content {
			:deep(.ant-image-img) {
				animation: rotate  20s linear infinite;
				&:hover{
					animation-play-state: paused;
				}
			}
			@keyframes rotate {
				0%{transform: rotate(0);}
				100%{transform: rotate(360deg);}
			}
		}
	}
</style>