<template>
	<div v-if="store.state.isMobile" class="home-phone">
		<div class="phone-content">
			<PhoneCard />
		</div>
	</div>
	<div v-if="!store.state.isMobile" class="home-web">
		<div class="zhezhao"></div>
		<div class="home-image">
			<a-image
				:src="getHomeSrc('home-bg')"
				:preview="false"
			/>
		</div>
		<div class="web-content">
			<CardView />
		</div>
	</div>
</template>

<script>
	import CardView from "./components/CardView.vue";
	import PhoneCard from "./components/PhoneCard.vue";
  import { getHomeSrc } from "../../utils/common.js"
	import {useStore} from "vuex";
	export default {
		name: "HomeWeb",
		data() {
			return {
				url: "https://tvax2.sinaimg.cn/large/006K89bWgy1gwqdvizy35j31p414ogva.jpg",
				// url: "//tva3.sinaimg.cn/large/006K89bWgy1gwr4e3a6y7j31hc0u0wjf.jpg"
			}
		},
		setup() {
			const store = useStore();
			console.log("fsjdlka")
			console.log(getHomeSrc('home-bg'))
			return {
				store,
				getHomeSrc
			}
		},
		components: {
			CardView,
			PhoneCard,
		}
	}
</script>

<style lang="scss" scoped>
	.home-web {
		.home-image {
			position: relative;
			:deep(.ant-image-img) {
				width: 100vw !important;
				height: 100vh !important;
			}
		}
		.zhezhao {
			width:100vw;
			height:100vh;
			background-color:#000;
			filter:alpha(opacity=50);
			-moz-opacity:0.5;
			opacity:0.5;
			position:absolute;
			left:0;
			top:0;
			z-index:1;
		}
		.web-content {
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%); /* 50%为自身尺寸的一半 */
			-webkit-transform: translate(-50%, -50%);
			z-index: 2;
		}
	}
</style>