<template>
	<div class="home">
		<div class="home-carousel">
			<a-carousel autoplay>
				<template v-for="(item,index) in pathList">
					<a-image
						@click="routeView(item.path)"
						:src="getJpgSrc(item.imgName)"
						:preview="false"
					/>
				</template>
			</a-carousel>
		</div>

		<a-list class="container" :grid="{ gutter: 16, xs: 1, sm: 2, md: 4, lg: 4, xl: 4 }" :data-source="data">
			<template #renderItem="{ item }">
				<a-list-item>
					<a-card  hoverable style="width: 300px">
						<template #cover>
							<a-image
								alt="example"
								src="https://gw.alipayobjects.com/zos/rmsportal/JiqGstEfoWAOHiTxclqi.png"
								fallback="../assets/img/no-img.png"
							/>
						</template>
						<a-card-meta description="This is the description">
							<template #avatar>
								<a-avatar src="https://zos.alipayobjects.com/rmsportal/ODTLcjxAfvqbxHnVXCYX.png" />
							</template>
							<template #title>
								Card title
								<DingtalkOutlined />
								<CrownOutlined />
							</template>
						</a-card-meta>
					</a-card>
				</a-list-item>
			</template>
		</a-list>
	</div>

</template>

<script>
	import { defineComponent, ref } from 'vue';
	import { useRouter } from 'vue-router';
	import { useStore } from "vuex";
	import { getJpgSrc } from "../../utils/common.js"
	const data = [
		{
			title: 'Title 1',
		},
		{
			title: 'Title 2',
		},
		{
			title: 'Title 3',
		},
		{
			title: 'Title 4',
		},
		{
			title: 'Title 5',
		},
		{
			title: 'Title 6',
		},
		{
			title: 'Title 5',
		},
		{
			title: 'Title 6',
		},
	];
	const pathList = [
		{
			path: '/article',
			imgName: 'mountain'
		},
		{
			path: '/introduce',
			imgName: 'ocean'
		},
		{
			path: '/resume',
			imgName: 'cross'
		},
		// {
		// 	path: '/article',
		// 	imgName: 'mountain'
		// },
	]
	export default {
		data() {
			return {
				url: "url('//tva3.sinaimg.cn/large/006K89bWgy1gwnw9i5qo3j31p414o7i3.jpg') no-repeat center center"
			}
		},
		setup() {
			const loading = ref(true);
			const handleClick = () => {
				loading.value = !loading.value;
			};
			const router = useRouter();
			const store = useStore();
			const routeView = path => {
				store.commit("addCount");
				router.push(path);
			};
			return {
				pathList,
				loading,
				handleClick,
				data,
				getJpgSrc,
				routeView,
			};
		},

	}
</script>
<style lang="scss" scoped>
	.home {
		.home-carousel {
			:deep(.ant-image-img) {
				width: 100vw !important;
				max-height: 500px !important;
			}
		}
	}

	/* For demo */
	.ant-carousel :deep(.slick-slide) {
		overflow: hidden;
	}
</style>