<!--
 * @Author: YinXuan
 * @Date: 2022-01-30 21:48:57
 * @LastEditTime: 2023-02-16 09:47:56
 * @Description: Vue鼠标移动跟随特效
-->
<template>
  <a-config-provider :locale="locale">
    <router-view />
  </a-config-provider>
</template>

<script>
import { onMounted } from 'vue';
import { useStore } from 'vuex';
import zhCN from 'ant-design-vue/es/locale/zh_CN'; //引入antd中文
import moment from 'moment'; //引入moment
moment.locale('zh-cn'); //配置moment中文环境
export default {
  data() {
    return {
      locale: zhCN, //传值给a-config-provider组件
    };
  },
  setup() {
    const isMobile = () => {
      let flag = navigator.userAgent.match(
        /(phone|pad|pod|iPhone|iPod|ios|iPad|Android|Mobile|BlackBerry|IEMobile|MQQBrowser|JUC|Fennec|wOSBrowser|BrowserNG|WebOS|Symbian|Windows Phone)/i,
      );
      return flag;
    };
    const store = useStore();
    onMounted(() => {
      if (isMobile()) {
        store.commit('setPhone', true);
      } else {
        store.commit('setPhone', false);
      }
    });
  },
};
</script>

<style lang="scss">
@import './styles/index.scss';
body {
  margin: 0;
  padding: 0;
}
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
</style>
