<template>
	<div class="app-wrapper">
		<!-- 内容容器 -->
		<div class="main-container">
			<!-- 顶部导航栏 -->
			<top-bar />
			<!-- 内容区 -->
			<app-main />
			<!-- 底栏 -->
			<bottom-bar />
		</div>
	</div>
</template>

<script setup>
	import AppMain from "./components/AppMain.vue";
	import BottomBar from "./components/BottomBar.vue"
	import TopBar from "./components/TopBar.vue"

</script>

<style lang="scss" scoped>
	.app-wrapper {
		position: relative;
		height: 100%;
		width: 100%;
	}
</style>