<template>
	<div class="blob Note1">
		<h1>科目一 笔记</h1>
		<div>
			<h3>记口诀</h3>
			<ul>
				<li>
					261、145、520（261表示：能见度低于200米时，限速60公里/小时，
					与前车要保持至少100米的安全距离。以此类推）
				</li>
				<li>
					假一吊二撤三醉五逃终生
				</li>
				<li>
					充电20分钟，驾驶4小时。
				</li>
			</ul>
		</div>
		<div>
			<h3>灯光</h3>
			<ul>
				<li>
					远光灯光线太强，距离过近会干扰对向驾驶员视线。
					夜间会车要在150米以外变换为近光灯，以免造成事故。
				</li>
			</ul>
		</div>
		<div>
			<h3>扣分</h3>
			<ul>
				<li>
					闯红灯，扣6分。
				</li>
				<li>
					驾驶与准驾车型不符的机动车；车速超过规定时速50%以上；未取得校车驾驶资格驾驶校车；以上三项，一次扣12分
				</li>
				<li>
					驾驶机动车不按照规定避让校车的，一次扣6分。
				</li>
			</ul>
		</div>
		<div>
			<h3>标志</h3>
			<ul>
				<li>
					交通标志按颜色区分类型：黄牌-警告标志，红牌-禁令标志，蓝牌-指示标志。
				</li>
			</ul>
		</div>
		<div>
			<h3>高速</h3>
			<ul>
				<li>
					高速公路规定：时速超过100公里，车距100米以上；时速低于100公里，车距50米以上。
				</li>
			</ul>
		</div>
		<a-divider style="border-color: #17a2b8" dashed />
	</div>
</template>

<script>
	export default {

	}
</script>

<style lang="scss" scoped>
	.Note1 {
		p {
			text-indent: 2rem;
		}
	}
</style>