<template>
  <div class="introduce-container">
    <div class="top-bar">
      <top-bar />
    </div>
    <div class="sider-bar">
      <sider-bar />
    </div>
  </div>
</template>
<script lang="ts">
import TopBar from "./components/bar/top-bar.vue";
import SiderBar from "./components/bar/sider-bar.vue";

export default {
  components: {SiderBar, TopBar}
}
</script>
<style lang="scss" scoped>
.introduce-container {
  height: 100vh;
  width: 100vw;
  background-image: url("https://gimg2.baidu.com/image_search/src=http%3A%2F%2Fimg.52lishi.com%2Fpic%2F201306%2F28%2Fc8a4479a1e.jpg&refer=http%3A%2F%2Fimg.52lishi.com&app=2002&size=f9999,10000&q=a80&n=0&g=0n&fmt=auto?sec=1658367660&t=314bd105a8b4e5eac59cd962056b8cf2");
  background-size: cover;
  transition: .2s background-image ease;
  position: relative;
  overflow: hidden;
  font-family: 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB',
  'Microsoft YaHei', '微软雅黑', Arial, sans-serif;
  .top-bar {

  }
}
</style>